[2018-11-28 02:10] esabol commented on #137
This issue can be closed if someone can confirm that rpmlint no longer complains. :)

[2018-11-28 02:40] shadyb commented on #216
Here is an example of an entry in the redis DB:
`"_gear_-uk.co.internal.mine.port.adapter.queue.gearman.ScrapeLogFunction-Scrape Log [logdb12] page=[3] [27/11/18 21:37:52]"`

I did a quick GDB debug, and the unique variable only had the "Scrape" portion of the string. My suspicion is that the \s char is not being handled properly. Any reason you didn't opt for std::string instead since it's a c++

[2018-11-28 03:40] esabol commented on #216
I recommend putting some breakpoints in this function and stepping with the code:

https://github.com/gearman/gearmand/blob/c343b3b93e057dccf2a93a8109663437ceded148/libgearman-server/plugins/queue/redis/queue.cc#L124

[2018-11-28 06:16] shadyb commented on #216
Thanks for the pointer (mind the pun).

Problem is on this line:
https://github.com/gearman/gearmand/blob/c343b3b93e057dccf2a93a8109663437ceded148/libgearman-server/plugins/queue/redis/queue.cc#L419

Since the unique value has spaces, it only retrieves the first word, and terminates on the first whitespace it encounters. The problematic var is fmt_str which defines the format for sscanf. Not sure

[2018-11-28 16:06] shadyb commented on #216
Changing the sscanf format to "%%%d[^-]-%%%d[^-]-%%%d[^n]" fixes the issue.

[2018-11-28 16:23] p-alik commented on #213
fixed in #219

[2018-11-28 16:23] #213 closed

[2018-11-28 16:24] #192 closed, assigned to nobody

[2018-11-28 17:05] p-alik commented on #216
Thank you for the report, @shadyb. Unfortunately I can't reproduce the issue.
I tested it as follow
[code]
Any idea how the issue could be reproduced?

[2018-11-28 17:46] shadyb commented on #216
Okay, this format should work: "%%%d[^-]-%%%d[^-]-%%%d[^-]"

As for replication, put spaces in the name. So 4beec2dc-f32f-11e8-aad5-7446a09167b1 should be 4beec2dc f32f 11e8 aad5 7446a09167b1

[2018-11-28 17:52] esabol commented on #216
Personally, I've never been keen on using sscanf for anything. I'd rather iterate through the string char-by-char and look for the designated separator character.

[2018-11-28 17:53] shadyb commented on #216
Agree. Although the wildcard fixes the issue, I can't help but this of possible code injection attacks.

[2018-11-28 17:57] esabol commented on #216
Well, feel free to rewrite it. 👍 And _please_ open a PR.

Just to clarify, is the issue with job/task names that have spaces in them or data payloads with spaces?

Is sscanf used in any of the other plugins?

[2018-11-28 17:58] SpamapS commented on #216
A bit of history: The unique value was originally, *usually*, a hash of the arguments to the function. Making it meaningful to humans is not the point, and so I recommend you just change your app to make it an md5 of the arguments. Sometimes it makes sense to be something a bit more meaningful, like a UUID, or a 64 bit integer, all of which fit fine in the max, but it never makes sense to make it

[2018-11-28 17:58] esabol commented on #216
Answering my own question: This is the only usage of sscanf in gearmand.

[2018-11-28 20:30] esabol opened #220 "Build fails with clang 5.0"
`CC=clang-5.0 && CXX=clang++-5.0` using `llvm-toolchain-trusty-5.0` on `trusty` Linux.
[code]
[code]

[2018-11-29 02:50] shadyb commented on #216
I will run it through its paces over the coming days, and will submit a PR once I'm satisfied it works.

@SpamapS
I think it would be better to give people the opportunity to decided how they wish to utilise it. In many use cases a hash would suffice, but I can think of several cases whereby a meaningful string would make more sense. It depends entirely on the domain, and what works best for a giv

[2018-11-29 04:10] esabol commented on #216
Great!

It's just a different design pattern that scales better. Check out the README at https://github.com/SpamapS/gearstore

[2018-11-29 04:40] SpamapS commented on #216
That's just the thing, that unique ID is not for you to debug. Put debugging things in the payload.

And frankly, we live in a cloud world. Arguing to have more centralized, more unique services, is a complete fallacy at even the smallest scale. The whole point of gearmand is ruined by the queue plugins. It's supposed to be a many-to-many scale out stateless daemon. I figure most of the confusion

[2018-11-29 06:30] p-alik commented on #220
fixed by @esabol in #221

[2018-11-29 06:30] #220 closed

[2018-11-30 01:13] dormando commented on #216
fwiw this is an almost identical design to the garivini/gearstore bits: https://segment.com/blog/introducing-centrifuge/ - makes me a lil sore we didn't push it harder years ago :)

if someone wants to thought lead, they can make this a first class citizen and deprecate the queue code entirely.

[2018-11-30 02:46] esabol opened #222 "Clang static analyzer warnings"
References:
https://clang-analyzer.llvm.org/scan-build.html
https://www.mankier.com/1/scan-build

I added `scan-build -v --use-cc="${CC}" --use-c++="${CXX}"` prior to the `./configure` and `make` lines in Travis CI. Here are the resulting warnings:
[code]
This whole endeavor seems fairly dubious. A lot of these warnings seem very spurious. Some of the "Potential leak of memory" warnings might be w

[2018-11-30 03:04] esabol commented on #222
The clang static analyzer generates a bunch of HTML output files with more verbose information. Unfortunately, I haven't figured out a way to get them out of Travis CI and put them somewhere that's visible. Any suggestions?

[2018-11-30 03:08] esabol commented on #222
For reference, here is how I modified the `.travis.yml` file:
[code]

[2018-11-30 03:32] esabol commented on #222
Based on some examples I saw, I added `-enable-checker core -enable-checker unix -enable-checker cplusplus -enable-checker security` arguments to `scan-build`. That resulted in a few more warnings, mainly about `strcpy()` usage at first glance. The full build log can be found at:
https://travis-ci.org/esabol/gearmand/jobs/461603294

[2018-11-30 05:36] esabol commented on #222
Another reference:
https://clang-analyzer.llvm.org/faq.html

[2018-12-02 16:18] cheese commented on #137
OK. I tested the patch and rpmlint no longer complains.

[2018-12-02 16:40] esabol commented on #137
Thanks for testing, @cheese !

Did rpmlint have any other complaints?

[2018-12-02 17:35] cheese commented on #137
No. Nothing upstream should care.

[2018-12-03 11:44] p-alik commented on #137
Thanks for testing, @cheese, one more time!

[2018-12-03 11:44] #137 closed

[2018-12-03 11:46] p-alik commented on #222
Do you think enhancement tag would be enough for the issue, @esabol?

[2018-12-03 16:05] esabol commented on #222
I'm not sure how to categorize this, but that sounds fine.

[2018-12-03 16:19] esabol commented on #138
Ok, so we have the file and the license... This seems well in reach of resolution. I think the only thing missing the copyright holder and the copyright year(s)?

[2018-12-04 22:28] esabol opened #224 "t/memcached test fails occasionally in Travis CI"
The `t/memcached` fails in Travis CI sometimes. I figured we needed an issue to track it.

When the failure happens, the following message appears in test-suite.log:
[code]

### What causes it?
 A race condition with libtest's `get_free_port()`, right? So the port becomes busy in between the call to `get_free_port()` and when the `t/memcached` uses it, presumably.

### Possible solutions
* Disable

[2018-12-05 00:08] SpamapS commented on #224
Related/duplicate https://github.com/gearman/gearmand/issues/50

[2018-12-05 04:38] esabol commented on #224
Ah, right... I saw that, but I didn't get past the title since I was mainly concerned with t/memcached instead t/cycle. Lots of good discussion there already.

[2018-12-05 05:06] esabol commented on #224
Ok, how about having memcached bind to port 0 and then using `ss` or `lsof` or `netstat` to get the port number memcached ends up listening on?

https://unix.stackexchange.com/questions/157823/list-ports-a-process-pid-is-listening-on-preferably-using-iproute2-tools

[2018-12-05 06:05] esabol commented on #224
Actually, it appears the problem isn't with the memcached port, but in starting up gearmand: https://github.com/gearman/gearmand/blob/c343b3b93e057dccf2a93a8109663437ceded148/tests/memcached_test.cc#L151

[2018-12-07 22:05] esabol commented on #216
How is this going, @shadyb ? Any idea when you might submit the PR for this?

[2018-12-08 05:33] shadyb commented on #216
Sorry, I've been a bit busy. The code does work as expected, and I will submit a PR by Monday.

[2018-12-11 10:06] remizyaka commented on #156
any thoughts on this?

[2018-12-11 10:56] p-alik commented on #224
Indeed, but in the line 119
https://github.com/gearman/gearmand/blob/c343b3b93e057dccf2a93a8109663437ceded148/tests/memcached_test.cc#L119

[2018-12-11 17:42] bmeynell commented on #216
@SpamapS - Being a gearmand user since the original Danga days, I strongly second your sentiment.

I don't know the _full history_ of the plugins, but obviously the _"do one thing and do it well"_ credo was lost somewhere along the way. The most egregious deviation was, IIRC, the _"memcached **persistence** plugin"_ -- misnomer to say the least -- but also indicative of the loss of clarity and the

[2018-12-11 19:57] p-alik commented on #216
No, it hasn't.

[2018-12-12 21:39] bmeynell commented on #216
@p-alik - No objection. Will do.

[2018-12-15 06:45] esabol opened #226 "Integrate PVS-Studio static code analyzer into Travis CI"
So I've been looking around to see how to integrate PVS-Studio into Travis CI.... Surprisingly, I can only find a single GitHub project which does this: neovim/neovim. Unfortunately, you need to add two comment lines to every single code file in order to use PVS-Studio for free:

https://www.viva64.com/en/b/0457/

I don't know how desirable that is....

Anyway, neovim uses the following scripts:

[2018-12-15 09:34] esabol commented on #156
Yeah, it’s not in the docs. Feel free to open another issue regarding that.

[2018-12-16 05:54] p-alik commented on #72
done in #214, #215 and #223

[2018-12-16 05:54] #72 closed

[2018-12-16 17:17] p-alik opened #227 "The feature of persistence plugins"
@SpamapS - Being a gearmand user since the original Danga days, I strongly second your sentiment.

I don't know the _full history_ of the plugins, but obviously the _"do one thing and do it well"_ credo was lost somewhere along the way. The most egregious deviation was, IIRC, the _"memcached **persistence** plugin"_ -- misnomer to say the least -- but also indicative of the loss of clarity and the

[2018-12-17 21:08] bmeynell commented on #227
@p-alik - Would it be beneficial to apply a `core` or `plugin` label to every issue?

I inventoried the 65 currently open issues and this is what I came up with:

**`plugin`:** https://github.com/gearman/gearmand/issues/6, https://github.com/gearman/gearmand/issues/10, https://github.com/gearman/gearmand/issues/28, https://github.com/gearman/gearmand/issues/29, https://github.com/gearman/gearmand/

[2018-12-17 22:13] p-alik commented on #42
resolved in #186

[2018-12-17 22:13] #42 closed

[2018-12-17 22:48] SpamapS commented on #227
Helping us categorize things is a great idea, definitely helps folks who want to take ownership of some but not all.

I'd really love to address the non-hashing of the keys issue, but every time I sit down to do it, I'm frankly disgusted by C/C++ and run back to learning Rust so we can do this right. My ideal world is one where libgearman is just a C/C++ binding around a Rust implementation. Unfor

[2018-12-18 07:36] illuusio commented on #207
Setting up SSL trust chain can be very harsh. Should we first have test case which creates foo certs and keys and then tests everything works?

[2018-12-18 09:47] p-alik commented on #207
There is no way around it, if ssl tests should be setup.

[2018-12-18 10:51] illuusio commented on #207
Or do we have some certs which we use in git?

[2018-12-18 11:15] p-alik commented on #207
Not yet but we could easily add some on demand.

[2018-12-31 23:14] flickerfly commented on #136
I now have gearmand-1.1.18 manually installed on Amazon Linux (CentOS 6 like) and ran the UDF configure like this ending in the same error...

`./configure --prefix=/opt/mysql_udf --with-libgearman-prefix=/opt/gearman/`

[code]

[2019-01-01 21:41] esabol commented on #136
Where are you getting gearman-mysql-udf from?

[2019-01-01 22:02] esabol commented on #136
And are you still using gearman-mysql-udf-0.5? Because 0.6 can be downloaded here:

https://launchpad.net/gearman-mysql-udf/+download

[2019-02-02 20:14] carpii commented on #68
I had the same issue compiling 1.1.12
boost-devel was installed but wasn't being detected, even when I pass --with-boost

For whatever reason installing these packages allowed it to compile

`
yum install gcc-c++.x86_64 gperf
`

[2019-02-04 06:07] SpamapS commented on #68
Why would you be compiling 1.1.12? We're up to 1.1.18 now.

Quoting carpii (2019-02-02 12:14:06)

[2019-02-05 19:20] carpii commented on #68
It was really just because I was redeploying a legacy server in an emergency.
I did try compiling 1.18 first, but had more problems then 1.12 (which is what dev server currently uses).

I'll be working on upgrading in the near future

[2019-02-27 09:03] borro opened #230 "Continue after interupt by signal"
In function ```gearman_wait``` you use ```poll``` (libgearman/universal.cc:316).
Why don’t you interrupt the ```gearman_wait``` job after signal arrives, and again start wait ```poll```?
https://github.com/gearman/gearmand/blob/master/libgearman/universal.cc#L322

[2019-02-27 18:37] bmeynell commented on #230
@borro - For the laymen that use libgearman, but who are not familiar with its inner-workings, etc.,  if you have the time, would you please consider adding a little high-level context, so all can understand the benefit of your proposal?

[2019-02-28 10:12] borro commented on #230
@bmeynell
I use interrupts to correctly terminate my application.

1. Set [pcntl_async_signals](http://php.net/manual/en/function.pcntl-async-signals.php) in true
2. Register handler for [pcntl_signal](http://php.net/manual/en/function.pcntl-signal.php)
3. Start wait for Gearamn work ([GearmanWorker::wait](http://php.net/manual/ru/gearmanworker.wait.php))
4. Send signal when GearmanWorker::wait wo

[2019-02-28 15:02] bmeynell commented on #230
@borro - i might be putting my foot in my mouth, but fwiw, long, long ago i was using PHP's signal handlers in tandem with `sleep()` and the latter simply did not _sleep_  - it was simply ignored. there was an underlying low-level reason, but it escapes me now.

@brianlmoon @wcgallego - any thoughts?

[2019-02-28 19:31] borro commented on #230
Now if you use signals and sleep, then sleep is interrupted by a signal. See block "Return Values" http://php.net/manual/en/function.sleep.php#refsect1-function.sleep-returnvalues

For example:
[code]
[code]

I hope that you will make the possibility of interruption by a signal in `gearman_wait`

[2019-03-01 01:36] esabol commented on #230
If you want to improve the signal handling here, your best bet would be to come up with a patch and submit a pull request (PR). Be sure to include a test case (or extend an existing test) in the tests subdirectory that fails without your patch and passes with your patch. Then someone will do a a code review on your PR....

[2019-03-01 08:17] borro commented on #230
@esabol I'm afraid, but I'm very bad C++ developer.
My knowledge was enough to find where all this is happening. I can only fix it by inserting ```return GEARMAN_IO_WAIT;``` instead of ```continue```. I do this in local and it work.

[2019-03-19 04:01] SpamapS commented on #230
borro, this is tricky stuff to do in a library because while your way may be more correct, there may also be people relying on this behavior. Ideally we introduce a mode flag that can be used to conditionally return the right thing, and then after some broad testing, maybe drop the old "broken" way.

I believe this can be a condition on the universal structure, but I have'nt looked at that code in

[2019-03-22 09:41] borro commented on #230
I create PR #231

[2019-03-28 15:44] zacek opened #232 "High CPU load of gearman worker and daemon"
After some time (hours) both my workers and the gearman daemon start using CPU even though workers are mainly in waiting loop. It is very hard to reproduce but I've compared the standard situation with the berserk mode and can share some details. My workers are connected to 2 gearman daemons.

Standard worker in waiting loop - it is waiting for a new job with timeout of 5 second. When no job arriv

[2019-03-28 16:00] zacek commented on #232
I forgot to mention that I've experienced this problem with both 1.1.18+6 (commit fa2a4ea65) and 1.1.18+137 (commit 64716ae9de).

[2019-03-28 19:05] esabol commented on #232
Operating system/distro/kernel versions?
libevent version?
gcc version?

[2019-03-29 07:20] zacek commented on #232
OS: linux
distro: debian 8.11
kernel: 3.16.0-7-amd64 #1 SMP Debian 3.16.59-1 (2018-10-03) x86_64 GNU/Linux
libevent-2.0-5: 2.0.21-stable-2+deb8u1
gcc version 4.9.2 (Debian 4.9.2-10+deb8u2)

[2019-04-01 08:55] zacek commented on #232
I thought that the problem could be caused by the fact that my clients are connected to 2 gearman servers. So I've connected some of them to one gearman server, some clients to the other and some to both. It did not help - after a few hours it went mad again and the strace of the clients connected to one server only looked as the example above, just with one connection. Additionally, some clients

[2019-04-02 11:57] zacek commented on #232
I've built the 1.1.18 version and installed it. I'll let you know if it works or not. The problem takes usually a few hours or 1 day to show.

[2019-04-02 16:05] SpamapS commented on #232
Thanks for working through it @zacek . I had something similar a while back and found a path through the state machine that ended in a busy wait loop in some cases. I wonder if your problem is related to #230 .. do you know if any signals are being delivered to gearmand, like maybe systemd sending it a HUP?

[2019-04-03 06:19] zacek commented on #232
Hi @SpamapS, thanks for your feedback.

I have several types of workers that deliver part of the application functionality. There is always one "manager" process that manages workers of one type - starts the workers, checks if they are still running (using signal 0 sent to worker), restarting missing workers and collecting and sending statistics that workers write to redis. The manager is not conn

[2019-04-03 06:24] zacek commented on #232
The stable version 1.1.18 has the same problem - after approx. 14 hours of normal operation the CPU is high again.

[2019-04-03 06:25] zacek commented on #232
![cpu_usage](https://user-images.githubusercontent.com/1629683/55457330-e1782880-55e9-11e9-8f7a-6dba249dbcf6.png)

[2019-04-05 09:29] zacek commented on #232
I have to re-verify the 1.1.18 stable build - I've found out that some clients were running on another server and used still the latest version of libgearman. Now I've been running the stable 1.1.18 build for 16 hours and the problem did not appear yet. I'll check it again after the weekend and let you know.

[2019-04-15 07:27] zacek commented on #232
I've tested the 1.1.18 stable build for the whole week an the problem did not re-appear.

That's fine but it doesn't prove anything. We are running 3 environments - alpha, staging and production. All of them were running the same version of gearman (1.1.18 + 6 commits) but the problem was detected in production only. We were not able to reproduce it anywhere else. After some time the problem appea

[2019-04-15 07:49] SpamapS commented on #232
Thanks for all of the awesome data zacek. This might be a tough one to nail down, and all the data we can get, we'll take.

[2019-04-15 15:44] esabol commented on #232
Could this issue be related to https://bugs.launchpad.net/bugs/1176324 ?

[2019-04-15 16:43] SpamapS commented on #232
@esabol it's possible, but seems unlikely. That one was centered around an incorrect state machine handling of a race, which was corrected.

[2019-04-15 16:50] esabol commented on #81
Quasi-related to this (I think) is the following Launchpad issue (with a one-line patch from 2013) related to `--show-unique`:

https://bugs.launchpad.net/bugs/1179316

Is there any impact to adding the job handle to the output?

[2019-04-21 06:28] esabol opened #235 "Logging bug?"
Is `errno` missing from the list of arguments to `gearmand_log_info()` here or am I just being dumb and missing something in the implementation of `gearmand_log()`?

https://github.com/gearman/gearmand/blob/260993fc84fa26805d37895d9a9c81b0bc19092d/libgearman-server/io.cc#L169

Just to be clear, I think this line should be:
[code]

[2019-04-27 17:49] SpamapS commented on #235
Yes, it looks like it is missing. Because the implementation uses vsnprintf I believe it just stops adding to the string and thus leaves errno out.

[2019-04-28 04:01] esabol commented on #235
My log files clearly show a number there though (using 1.1.18).

[2019-04-29 15:07] p-alik commented on #161
https://github.com/p-alik/perl-Gearman/issues/44 describes how the issue could be reproduced.

+ @esabol

[2019-04-29 15:23] esabol commented on #161
At least in this case, it doesn’t seem like the job payload is as large as gearmand thinks it is. Do you agree, @p-alik? Could `packet->data_size` contain garbage somehow?

[2019-04-29 15:37] p-alik commented on #161
Actually the [test script](https://github.com/p-alik/perl-Gearman/blob/6ad2eab514b81f07e8cc6eaf0db4b0bfccf434c1/t/16-background.t#L41) doesn't send any payload at all.

[2019-04-30 00:20] esabol opened #238 "Update Travis CI builds to use Ubuntu Xenial?"
https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment says:

Should we update gearmand's `.travis.yml` to use Xenial to keep pace?

[2019-04-30 12:26] p-alik commented on #238
gcc-4.9 build doesn't work on xenial
https://travis-ci.org/p-alik/gearmand/jobs/526389084#L2249-L2277

[2019-04-30 15:32] esabol commented on #238
Yes, I noticed the same thing. It’s possible to use a mix of Trusty and Xenial, like they do here:

https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-402045581

[2019-04-30 22:24] esabol commented on #238
I have this working here:
https://travis-ci.org/esabol/gearmand/builds/526648235

(I've also added builds using clang-7 and clang-8.)

Any objections to switching to Xenial for all builds except for gcc 4.9.x? If not, I'll submit a PR.

[2019-05-01 02:37] SpamapS commented on #238
If there's no supported gcc-4.9 on Travis, then I don't think we should support gcc-4.9 anymore. For simplicity, can we just use Xenial and narrow the travis scope?

[2019-05-01 02:38] #235 closed

[2019-05-01 02:54] esabol commented on #238
Travis isn't taking Trusty away. It's just changing the default distribution to Xenial because Ubuntu isn't going to be updating the packages for Trusty.

I don't think we should stop Travis CI builds with gcc-4.9 quite yet. RHEL/CentOS 7.x is still using gcc 4.8.5. If anything, we should do CI builds with gcc 4.8, but 4.9 is probably close enough.

[2019-05-01 04:15] SpamapS commented on #238
If Travis offers CentOS 7, let's run tests on that. Otherwise, I'm disinclined to spend energy making sure gearmand works on trusty when nobody should be using trusty.

[2019-05-01 04:27] esabol commented on #238
Travis CI only supports Ubuntu distributions.

[2019-05-01 04:36] SpamapS commented on #238
Bummer. Maybe it's time to consider some other CI system that will let us run in containers or something.

[2019-05-01 17:29] esabol commented on #238
There is a way to use Docker in Travis CI, but it's currently considerted to be experimental and there's no documentation for it. I know Docker is available under Xenial in Travis CI.

[2019-05-01 18:14] esabol commented on #161
Maybe that's the problem. Perhaps `packet->data_size` isn't being set correctly when `packet->data` is a zero-length string?

[2019-05-02 10:47] p-alik commented on #161
It looks like `gearmand` logs realloc-Error, if client sends `OPTION_REQ`-Request for exceptions and worker doesn't send WORK_COMPLETE-Request.

To reproduce `gearmand`'s behaviour with [16-background.t](https://github.com/p-alik/perl-Gearman/blob/upstream/t/16-background.t) you have to remove
https://github.com/p-alik/perl-Gearman/commit/e085ee624526fb620eff425e1263ed59fcb63c32#diff-16d3e60dc6c1b

[2019-05-16 09:56] kvelaro opened #241 "PHP GearmanClient::doBackground just hangs"
It's just does not work under PHP5.4 (centos 6). Tried to look at source, without success. https://stackoverflow.com/questions/56152265/php-gearmanclientdobackground-just-hangs. Could you please advice something? Killed almost week

[2019-05-16 15:18] esabol commented on #241
Are you starting gearmand with `--verbose DEBUG` arguments? If not, please do so. Then reproduce and check the gearmand.log for more information and post the relevant log section here.

Also, maybe try to reproduce the issue without using PHP. The issue might not be with gearmand.

Are you sure your workers always send WORK_COMPLETE? See issue #161.

Are you doing anything with signals or alarms i

[2019-05-16 18:31] kvelaro commented on #241
1. Yes, I start with verbose DEBUG, and log-file. No error thrown/shown in log.
2. It would be very difficult to reproduce problem with other language than PHP, because there long logic building arrays.
3. Why should workers send WORK_COMPLETE, without being started? Tasks which were queued after complete send WORK_COMPLETE.
4. No, I dont use signals/alarms in PHP

I dont think that gearman server

[2019-05-16 18:41] esabol commented on #241
I would try. First step of debugging is to isolate the issue.

Did I say the workers should send WORK_COMPLETE *without being started*? No. That’s not even possible, I think. But, just to clarify, none of your workers send exceptions, right?

Well, if that’s the case, then, depending on the version of PHP, there are two other GitHub repos for php_gearman where you should open the issue.

Does gear

[2019-05-17 03:48] esabol commented on #238
Please go here: https://travis-ci.org/gearman/gearmand/builds/533563490 and restart the 297.4 and 297.8 builds. Or give me access to do so! :)

[2019-05-17 15:25] #238 closed

[2019-05-30 13:44] kvelaro commented on #241
Excellent remarks, thanks.

No need to try, solved, answer will provide below

No, no exceptions, no error messages, none. It seemed that request was not delivered to gearmand

I would do it, thx

Yeah, it did

So my solution:

Intro

We use Yii1, and I cloned repo [gearman wrapper - what is known component to Yii world](https://github.com/andremetzen/yii-gearman/blob/master/Gearman.php)

In confi

[2019-05-30 14:45] esabol commented on #241
I don’t know PHP very well, but, if I do a web search for “PHP foreach not working”, I certainly get a lot of hits. It seems like a fairly common problem. Anyway, I’m glad you found that the problem wasn’t with gearmand. Please close the issue if there is nothing else.

[2019-05-30 14:55] #241 closed

[2019-06-01 03:54] vudinhnghia opened #242 "Warning: GearmanClient::doNormal(): send_packet(GEARMAN_COULD_NOT_CONNECT) Failed to send server-options packet -> libgearman/connection.cc:485"
Hi all,
I'm studying gearman.
This is my code:
- Client:
$client = new GearmanClient();
	try{
		$client->addServer("127.0.0.1", "4730");
                print $client->doNormal("reverse", "Test 1");
	}
	catch(Exception $e){
		print_r($e);
	}
- Worker:
      $worker = new GearmanWorker();
	$worker->addServer('127.0.0.1', '4730');
	$worker->addFunction("reverse", function ($job) {
		echo $job->workl

[2019-06-10 23:28] esabol commented on #242
This isn't the repository for the PHP extension, so I will refer to you to them. Nothing in the above post specifically shows a problem with gearmand. Even if it did, gearmand 1.1.8 is extremely old, as is CentOS 6, which we don't really support. I will suggest that you that you should make sure gearmand is running by checking the appropriate port number with lsof and you should check the gearmand

[2019-07-04 22:53] LudovicLachance opened #243 "Gearmand Configuration File"
I did not find any description as to how the file passed to the --config-file option should be written.

Could someone point me to one or write me one?

[2019-07-05 03:58] DarthEd77 commented on #243
According to a message posted on the gearmand Google Group by Brian Aker, “It uses the same syntax as the command line arguments.”

[2019-07-05 21:24] esabol commented on #243
According to a message posted on the gearmand Google Group by Brian Aker, “It uses the same syntax as the command line arguments.”

[2019-07-12 12:28] #243 closed

[2019-07-12 16:38] LudovicLachance commented on #243
Well, that doesn't help at all, as there is no working example, whatever I try to do It always fails to load the configuration file. Why does it even says it support file, if it does not.

[2019-07-12 17:37] p-alik commented on #243
Please post your config file, command you use to start `gearmand` and error message get.
Feel free to reopen the issue.

[2019-07-20 14:56] rspadim opened #244 "performance comparison"
hi folks
could be possible create a perfomance comparison between some job queues systems and gearman with high job/seq work load?

[2019-07-20 18:00] SpamapS commented on #244
You're welcome to perform such a test. Gearman is not really intended to compete with any others that I've seen. It either puts everything in RAM with frontend jobs (not fair to compare to durable systems) or stores background jobs in slow databases (it will lose horribly).

Gearman's super powers come in the clients and protocol, sort of like memcached, and as such, a pure test of its queue deliv

[2019-07-20 18:00] #244 closed

[2019-07-27 07:35] maxwp opened #245 "gearmand works very slow when free RAM runs out"
gearmand version 1.1.18 (latest) works very slow when free RAM runs out. I have 64 GB RAM on server and when gearman use all free memory and goes to 1mb of swap - gearmand starts to work very-very slowly.
Adding any task to background que can take up to 10 seconds. Removing task from que can take up to 30 seconds.
And que filled to 10 000 000 jobs for 6-8 hours.

When I kill some other processes t

[2019-07-28 01:02] SpamapS commented on #245
Yes, this is true of all unix processes on servers with swap configured.

Gearman has always been designed to work in RAM, and to "scale out". So if you want to be able to enqueue more things than those that fit in RAM on one machine, you have two options:

1) Add another gearmand. Clients should all be able to submit to two servers, and if written correctly, will load balance by hashing the uniqu

[2019-07-28 01:02] #245 closed

[2019-09-07 14:00] SpamapS commented on #242
Agree with @esabol .. not sure there's anything we can do for you here.

[2019-09-07 14:00] #242 closed

[2019-10-07 21:17] sni opened #246 "ftbfs on centos 7"
Is there a specific gcc version required? Right now, current master fails to build from source on centos 7 (while it worked with the latest release 1.1.18)

[code]

introduced with commit e3ea2b3.

[code]

[2019-10-08 23:39] esabol commented on #246
Our [Travis CI implementation](https://travis-ci.org/gearman/gearmand) tests with gcc 4.9. Does Travis CI support gcc 4.8? If so, we should add that as a target.

I have no objection to adding an `#ifdef` to support gcc 4.8.x, if the impact is small. Is that the only build error, @sni? Can you suggest a patch?

[2019-10-09 00:31] esabol commented on #246
Answering my own questions, as usual. :)

Yes, Travis CI does support gcc 4.8, even though it's not in the example .travis.yml that's in the docs.

Changing `universal{universal_}` to `universal(universal_)` gets the code to compile.

A similar error in `libgearman-server/gearmand_thread.cc` on line 170 can be worked around by changing `_gearmand{gearmand_}` to `_gearmand(gearmand_)`.

With these

[2019-10-09 07:13] sni commented on #150
Using `--threads=0` solves the issue for me. Had tons of CLOSE_WAIT connections after a couple of minutes and couldn't gracefully stop gearmand. But with disabling threads it runs quite smootly so far.

[2019-10-09 16:28] SpamapS commented on #246
seems legit. The fix should add 4.8 to the travis build

[2019-10-29 04:44] esabol commented on #196
Almost a year later(!), I just submitted a PR which assumes the timeout is specified in milliseconds and fixes the conversion of milliseconds to a timeval. It seems the simplest course of action to take to fix this bug.

[2019-11-07 11:13] webomax opened #251 "How do I return a background job to the queue if it fails?"
If there is a task execution error, I want the task not to be removed from the queue. And started again.

[2019-11-07 15:06] p-alik commented on #251
`gearmand` doesn't restart failed jobs. By non-background approach it is possible to provide worker's notifications to the client.

See WORK_FAIL, WORK_EXCEPTION in http://gearman.org/protocol/

[2019-11-07 15:17] webomax commented on #251
Must do for background job.

It turns out that Geraman will not restart the work in any way? Even if the background work is not successful, will it still remove it from the queue ?!

[2019-11-07 16:36] p-alik commented on #251
Indeed `gearmand` doesn't restart any jobs.

[2019-11-09 18:38] tsmgeek opened #252 "PHP PECL library"
https://pecl.php.net/package/gearman

Not sure who is maintaining this but might be an idea to bring it in as its currently quite old and its throwing errors within the library itself rather than setting exceptions etc that can be handled in a sane way.

[2019-11-09 19:36] esabol commented on #252
We don’t maintain that here. AFAIK, the best maintained version can be found here:

https://github.com/wcgallego/pecl-gearman

I use a modified version of that repo in a production environment without any issues.

[2019-11-10 08:02] #251 closed

[2019-11-10 08:02] #252 closed

[2019-11-10 22:31] esabol commented on #251
Does the `--job-retries=NUMBER` option not do this?

[2019-11-14 11:06] alionurdemetoglu opened #253 "Include jobID in redis keys when using redis as persistent queue"
With the current implementation, gearman inserts jobs to Redis using the following format as Redis keys:
`prefix-functionName-jobUnique` => `"_gear_-reverse-2fergre34-05h5-123f-asd4-70106fbb4dd8"`

I use gearman with Redis as a persistent queue and with another client subscribe Redis queue to track jobs using `PSUBSCRIBE`. I want to be able to remove a job from the queue. According to the TEXT pro

[2019-11-14 16:23] esabol commented on #246
Done. This issue can be closed.

[2019-11-14 18:25] #246 closed

[2019-11-27 14:23] p-alik commented on #207
the issue was mentioned in https://stackoverflow.com/a/59072270/2789312

[2019-11-27 14:29] p-alik commented on #253
As far as I know there is no such plans.

[2019-11-27 16:08] p-alik opened #254 "TLSv1_client_method() is deprecated"
related comment 232137470d6a18f45f193efca3ac1317ef9150cb

[code]

[code]

[2019-11-27 18:26] esabol commented on #207
@p-alik : Are you able to rename issue titles? If so, please change the title of this issue from "SSL not working, lack of documentation" to "SSL documentation needs improvement" or similar. Thanks!

[2019-11-28 07:20] esabol commented on #134
I think this issue can be closed, right?

[2019-11-28 07:21] esabol commented on #196
Unless you want to wait until gearmand is released, this issue can be closed.

[2019-11-28 07:48] esabol commented on #253
The current maintainers feel that the persistence plugins were a bad idea, and they don't feel it's worth putting effort into improving them. Maintaining them, certainly. There's no plan to remove them. And @SpamapS has said that, if someone submits a PR to fix some issue with the plugins, the PR will certainly be considered.

For the record, it's more scaleable to have a worker that persists jobs

[2019-11-28 07:55] #196 closed

[2019-11-28 07:57] #134 closed

[2019-12-07 23:51] SpamapS opened #258 "Can't build cleanly on Ubuntu 18.04"
In trying to make a release from the commits since 1.1.18, I have run in to a number of build and test failures. Wondering if anyone else has them. Specifically,

1) can't find libpq-fe.h, despite having libpq-dev installed (build is fine when --without-postgresql is used)
2) t/unittest fails for some unknown reason

I don't really have the time to debug deeply.. hoping somebody has some cycles to

[2019-12-12 07:13] ziyaindia opened #259 "Gearman is not working with my php7.2+NGINX+ubuntu"
See phpinfo

http://148.251.49.106/info.php

`<?php

/**
 * @version: 5.1
 */

class FNSGearman {
    public $gmclient;
    public $taskCount = 0;

    public static $results = array();
    public static function reset(){
        GearmanResults::$results = array();
    }

    public static function completeCallback($task) {
        $unique = $task->unique();
        if ($unique != null) {

[2019-12-12 15:45] esabol commented on #258
For what it’s worth, I would like to see PR #257 included in the next release.

[2019-12-12 15:48] esabol commented on #254
Since PR #255 has been merged, this issue can be closed.

[2019-12-13 09:05] #254 closed

[2019-12-14 04:19] esabol commented on #259
Sorry, this is the repo for gearmand, not the Gearman PECL PHP interface. We don't maintain the latter here. Please close.

[2019-12-14 04:50] ziyaindia commented on #259
Could you please suggest me what is the best for me gearmand or gearman pecl php interface?

[2019-12-14 05:22] esabol opened #260 "build warning in tests/libgearman-1.0/worker_test.cc"
Testing master branch build on Ubuntu 18.04 and saw this:
[code]

[2019-12-14 05:41] esabol commented on #259
Sorry, but I do not understand your question.

[2019-12-14 05:42] esabol commented on #258
Here's the unittest failure:
[code]

[2019-12-14 06:14] esabol commented on #258
I'm not seeing any error with regards to libpq-fe.h, but the postgres test is being skipped for some reason I haven't yet been able to figure out.
[code]

Here's the Dockerfile I'm using to test:
[code]

[2019-12-14 06:15] esabol commented on #258
The unittest failure was also reported in issue #200 with gcc 7.3.0, but other unittests besides this one also failed there, I think?

[2019-12-14 06:19] esabol commented on #260
[code]
Refer to issue #258 for the Dockerfile used.

[2019-12-15 06:00] esabol commented on #260
This warning was added in gcc 7.1. See https://gcc.gnu.org/gcc-7/changes.html.

Some discussion of this warning and how to circumvent it can be found here:
https://stackoverflow.com/questions/51534284/how-to-circumvent-format-truncation-warning-in-gcc
https://stackoverflow.com/questions/57780368/how-to-stop-gcc-complaining-about-directive-output-may-be-truncated-in-snprint

This patch eliminates t

[2019-12-15 06:41] esabol commented on #258
I don't really get the point of these unittests or why the test is different on the Mac and FreeBSD.

If I change the test, like so:
[code]
It passes on Ubuntu 18.04.

[2019-12-15 07:26] esabol commented on #258
Apparently, the postgres test is skipped unless you set the environment variable `POSTGES_IS_RUNNING_AND_SETUP` (sic). If I `setenv POSTGES_IS_RUNNING_AND_SETUP 1` and then `make test-postgres`, I get the following output:
[code]
I think that result is fine, considering PostgreSQL is not actually running?

@SpamapS: Are you use `libpq-dev` was installed when you tested?

[2019-12-15 08:31] esabol commented on #260
By the way, a lot of the tests in `libtest/unittest.cc` refer to `/usr/bin/true`, but `/usr/bin/true` doesn't exist on most Linux platforms, I think, which it should be using `/bin/true`. These tests end up being skipped.

We probably need something like
[code]
in `configure.ac`, but I'm not clear on how to get the value of `$ac_cv_prog_TRUE` into `gear_config.h` or something that `libtests/unitte

[2019-12-15 08:33] esabol commented on #258
By the way, a lot of the tests in `libtest/unittest.cc` refer to `/usr/bin/true`, but `/usr/bin/true` doesn't exist on Linux, where it should be using `/bin/true` instead. These tests end up being skipped on Linux.

We probably need something like
[code]
in `configure.ac`, but I'm not clear on how to get the value of `$ac_cv_prog_TRUE` into `gear_config.h` or something that `libtests/unittest.cc`

[2019-12-15 16:07] p-alik commented on #200
Just a guess, because Travis CI is based on [Ubuntu 16.04](http://releases.ubuntu.com/16.04/).

[2019-12-15 17:12] p-alik commented on #258
I'll confirm the patch solves the issue. Here an other version of the patch.

[code]

[2019-12-15 17:16] p-alik commented on #258
`libtests/unittest.cc`-alternative would be my preference.

[2019-12-16 17:31] esabol commented on #258
Please elaborate. Why do you prefer that? How would that work?

[2019-12-16 17:52] p-alik commented on #258
In my opinion global configuration's amendment for only testing reason should be avoided.

As you proposed with preprocessor directive `#define TRUE_CMD ..`

[2019-12-16 18:01] esabol commented on #258
Oh, OK, that makes sense. I thought you were proposing something else. 🙂

[2019-12-20 08:21] MysteryDragon commented on #259
@ziyaindia `gearmand` is common tool, it's not language specific. You need that anyway. (And you have it.)
But most certainly your problem lies in _adapter for gearmand in PHP_, which is https://github.com/wcgallego/pecl-gearman for PHP 7 (works good for versions up to 7.3 _at this moment_). You need them too (and seems that you have one), but perhaps it's better to upgrade it's version. All infor

[2019-12-23 00:34] SpamapS commented on #258
So, where are we at? I'll try the postgres envvar when I get a few minutes, but it seems like the unittest problem needs a PR? Can somebody submit? I may have some time in the holiday, but probably not. Would love to get a release out in January.

[2019-12-23 14:11] zvpunry opened #262 "missing initialization of libevent for use with multiple threads"
Libevent functions must not be called simultaneously by multiple threads, unless libevent's thread support has been initialized by evthread_use_pthreads() or evthread_use_windows_threads(). This is mentioned under "Library setup" in http://libevent.org/doc/

When these functions are not called before libevent is used, it will just access its internal data structures without trying to prevent any d

[2019-12-23 23:00] esabol commented on #258
I would, but it’s not obvious to me what the proper solution is. Various questions remain unanswered. Why does unittest do something different on Linux vs. BSD/Mac? Why did it stop working in Ubuntu 18.04? Will the new/BSD method work on other/older Linux distributions or does it need to be employed only on Ubuntu 18.04? If the latter, how do we do that?

[2019-12-24 03:53] esabol commented on #258
I changed the above Dockerfile to build on Ubuntu 16.04 (Xenial, gcc 5.4.0) and 14.04 (Trusty, gcc
[code]
works only on Ubuntu 18.04. It definitely fails on 16.04 and 14.04. On those distributions
[code]
passes, of course.

How do we handle this? I think the most straightforward solution is to just remove this test. Any other solution seems complicated, and it's not really testing gearmand.

[2020-01-03 23:11] esabol commented on #260
@p-alik or @SpamapS : Any thoughts on this?

[2020-01-03 23:12] esabol commented on #259
Please close this issue.

[2020-01-05 15:26] p-alik commented on #260
since https://github.com/gearman/gearmand/blob/daab15fe0fc8da1eb2653c039ff8a1ff2df8692c/libgearman-1.0/limits.h#L55
and
[code]
We could solve the issue in this or similar way:
[code]

[2020-01-05 15:48] #259 closed

[2020-01-05 20:28] esabol commented on #260
Yeah, that looks good to me. Do you want to do the PR, @p-alik ?

[2020-01-05 20:31] p-alik commented on #260
Yes, I'll do.

[2020-01-10 23:51] esabol commented on #258
Anyone have any feedback on this?

[2020-01-11 00:33] esabol commented on #258
How about this?
[code]

[2020-01-12 06:36] p-alik commented on #258
LGTM.

[2020-02-03 14:05] riBoon commented on #262
Faced this problem too. This here helps fixing it on my own. Thanks for you efforts in this!

[2020-02-07 22:48] stccorp opened #269 "Can I donate money to this project?"
Gearman has been amazing. Its been working great for me for years.  Is there somewhere I can donate some money?

Thank you

[2020-02-10 17:30] SpamapS commented on #269
@stccorp that's very generous of you, thank you. Our costs are about $5/year to host build artifacts in S3, and dev time, which I donate freely to the project, and I assume others like @p-alik do as well. If you'd like to pick a bug and start a bounty, that'd be a nice way to donate. :)

[2020-02-10 19:05] SpamapS commented on #258
Nice work everybody. The libpq thing was actually caused or at least made worse by something broken on my build box. Clean Ubuntu 18.04 was able to build properly with the latest master.

Assuming Travis is clean, I'll get a new release out soon!

[2020-02-10 19:05] #258 closed

[2020-02-10 19:06] #260 closed

[2020-02-10 22:20] #262 closed

[2020-02-10 22:34] SpamapS commented on #253
In addition to all that @esabol said, it's important to note that none of the persistence layers actually persist the job ID. That is a reference to things that are in memory *now* on the gearmand that you are cancelling from. This is a mistake, and probably should have been implemented with a cancel-by-unique equivalent.

As such, this would be new functionality, and not something I think the pro

[2020-02-12 00:20] esabol opened #270 "1.1.19: configure stops with an error when pg_config is not found and sqlite3 is now required for compiling"
I went to update the Docker image I use at work, and I encountered the following when building:
[code]
All I did was change the version number of the gearmand.tar.gz file from 1.1.18 to 1.1.19.

[2020-02-12 00:27] esabol commented on #270
A clean rebuild of my 1.1.18 Docker image works just fine. My Docker image is based on Ubuntu Xenial.

[2020-02-12 00:38] esabol commented on #270
My gearmand Docker image does not utilize PostgreSQL at all. Adding postgresql to the `apt-get -y install` line in my Dockerfile still results in an error.

When configuring 1.1.18, it just says:
[code]
and it just keeps on configuring.

[2020-02-12 00:46] esabol commented on #270
Found a workaround: Specify `--with-postgresql=no` on the `./configure` line. That causes the check for `pg_config` to be skipped.

[2020-02-12 00:54] esabol commented on #270
But then the build still fails with numerous errors (ugh!), like this:
[code]
Separate issue??

[2020-02-12 00:59] esabol commented on #270
I tried adding `--with-sqlite=no` to my `./configure` line, and it didn't help. I got this:
[code]

[2020-02-12 01:08] esabol commented on #270
Adding `libsqlite3-dev` to my Dockerfile's `apt-get -y install` line got the thing to fully compile and test, but this would appear to be another regression.

Any ideas as to what went wrong here??

[2020-02-12 03:56] cheese opened #271 "1.1.19 libgearman-server failed to link, missing '-lpq'"
When attempting to update gearmand for Fedora, libgearmand-server failed to link.
Build environment is Fedora Rawhide and has libpq-devel installed. So libqp support is implicitly enabled.

Related build log:

[code]

Full build log https://kojipkgs.fedoraproject.org//work/tasks/3533/41463533/build.log

It works with 1.1.18.

[2020-02-12 19:57] esabol commented on #271
Kind of off-topic, sorry, is this for the official rpm found at https://rpmfind.net/linux/rpm2html/search.php?query=gearmand ? If so, may I request that you add "--enable-ssl" to your `./configure` and package appropriately? I wish more packagers would include SSL support.... :)

[2020-02-12 20:13] SpamapS commented on #270
I don't know, it still feels like there's some weird bug lurking in the m4 and we're hitting it. I'm thinking a bisect is in order to find out when this broke.

[2020-02-12 20:14] SpamapS commented on #271
I'm guessing this has the same root cause as #270

[2020-02-12 20:28] esabol commented on #270
Looking at the diffs of 1.1.19's configure and 1.1.18's configure, and this diff looks like the reason for the sqlite issue:
[code]
There are many, many diffs between the PostgreSQL portions of these configure scripts, too.

The 1.1.19 configure script claims it was created by the same version of Autoconf as 1.1.18's, so why did it result in a vastly different script?? How is that possible? I'm no

[2020-02-13 02:12] esabol commented on #270
I really doubt it. m4/ax_lib_sqlite3.m4 and m4/ax_lib_postgresql.m4 haven't changed in 8 years. And the stuff that's in those files is *not* what's in the 1.1.19's configure. Could something have overrode our m4 files?

[2020-02-13 02:45] esabol commented on #270
I have a Dockerfile based on Ubuntu 16.04 which git clones the master branch, runs `./bootstrap -a`, `./configure --enable-ssl`, `make`, and then `make test`. It works flawlessly. I've got to run, but I'll post it soon. I also want to compare the configure files with the release version.

[2020-02-13 03:45] esabol commented on #270
Ditto for Ubuntu 18.04 (using gcc-8/g++-8) and 14.04.

[code]

The resulting configure file from the `./boostrap.sh -a` in the Docker image looks nothing like the configure file from the 1.1.19 release tarball. It's very similar to the configure file from the 1.1.18 release tarball with the changes mainly having to do with libevent2 and pthreads (as I would expect).

Essentially, I think the 1.1.1

[2020-02-13 05:38] esabol commented on #270
The m4 files in the 1.1.19 release tarball do *not* match the m4 files in this repository.

[2020-02-14 10:03] cheese opened #272 "FAIL t/hostile_gearmand (exit status: 134) if CXXFLAGS contains '-Wp,-D_GLIBCXX_ASSERTIONS'"
Source code is checked out at a40856d.

`make test` is run under %check section during rpmbuild.
`t/hostile_gearmand` fails and `make test` will hang at the end.
`test-suite.log` can be read by ` docker exec XXX cat /home/build/rpmbuild/BUILD/gearmand-1.1.19/test-suite.log` with XXX replaced with the working container of `docker build`.

A reproducing Dockerfile:
[code]

test-suite.log:

[code]

[2020-02-14 13:20] p-alik commented on #272
No issue on Ubuntu 18.04.
My attempt to setup vagrant box based on [fedora/31-cloud-base](https://app.vagrantup.com/fedora/boxes/31-cloud-base) doesn't succeed.

[code]
 Any idea how we could setup virtual environment to reproduce the issue?

[2020-02-14 13:37] cheese commented on #272
Also no issue on Fedora if run the build and test directly.

Try to skip makecache and continue with next commands?

[2020-02-14 13:51] p-alik commented on #272
Unfortunately all attempts to execute `dnf` were killed.

[2020-02-14 14:29] cheese commented on #272
Too little memory?

[2020-02-15 01:36] esabol commented on #272
The 1.1.19 release tarball is bogus anyway. I'd recommend waiting until that is straightened out.

[2020-02-15 02:29] esabol commented on #272
I built your Dockerfile, and I think it's still using the release tarball code. I can tell from how it compiles the code. I was able to confirm that one of the tests aborted and dropped core. This was presumably `t/hostile_gearmand` which FAILed for me as well. "make test" then hangs, presumably because it doesn't know how to do deal with a test aborting without reporting success or failure.

The

[2020-02-15 11:28] cheese commented on #272
I further figured out `hosttile_gearmand` crashed if CFLAGS contains '-Wp,-D_GLIBCXX_ASSERTIONS'
The following Dockerfile can reproduce the issue, just add `ENV CXXFLAGS='-Wp,-D_GLIBCXX_ASSERTIONS'` before configuring.

[code]

[2020-02-15 18:21] esabol commented on #272
Interesting....

Can you run `t/hostile_gearmand` under gdb and get a backtrace? And maybe valgrind?

Anyone have a link as to the documentation on this compilation flag? I can’t find anything useful on it with Google.

Should we be compiling with this flag in Travis CI?

[2020-02-15 18:48] esabol commented on #272
I just found this: https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_macros.html
But it’s still pretty sparse. It might be worth trying with `_GLIBCXX_DEBUG_PEDANTIC`?

[2020-02-15 19:13] cheese commented on #272
I just figured out a patch for this issue.

After that, gearmand code seems using `&vec[0]` pattern much. Should they be just replaced with `vec.data()`?

[2020-02-16 00:20] esabol commented on #272
Other than the two cases in your PR?

[2020-02-16 01:01] esabol opened #274 "gearadmin errors with CXXFLAGS='-D_GLIBCXX_DEBUG -D_GLIBCXX_DEBUG_PEDANTIC'"
I did a gcc/g++ build on Fedora 31 (GCC 9.2.1 20190827 Red Hat 9.2.1-1) with `CXXFLAGS='-D_GLIBCXX_DEBUG -D_GLIBCXX_DEBUG_PEDANTIC'` and the following errors popped up:
[code]

Dockerfile to reproduce:
[code]

[2020-02-16 04:18] cheese commented on #272
I did not go deep. I suspect that `payload.size() ? &payload[0] : NULL` may be just replaced with 'payload.data()' but I found the code base never calls `vec.data()`.

[2020-02-16 18:35] p-alik commented on #274
I've got same exception on Ubuntu 18.04
[code]

[2020-02-16 18:50] p-alik commented on #272
Sounds good to me.

[2020-02-16 19:45] esabol commented on #274
I googled `/usr/include/boost/program_options/detail/value_semantic.hpp:184: undefined reference to `boost::program_options::validate` and found this:

https://stackoverflow.com/questions/39591067/undefined-reference-to-boostprogram-options-in-xubuntu

And this:

https://lists.boost.org/boost-users/2017/10/87969.php

Sounds like it’s not really a problem?

[2020-02-16 20:17] esabol commented on #274
One of the stackoverflow.com answers said to try adding `-D_GLIBCXX_USE_CXX11_ABI=0`. That didn't work for me.

[2020-02-16 20:37] esabol commented on #272
If you merge PR #265, I will submit a PR to add it.

Do you think we should add it to all gcc builds or just some subset of the gcc builds?

[2020-02-16 20:50] esabol commented on #272
Oh, I get what you're asking now. `vec.data()` is new to C++11. The bulk of the gearmand code was written before that was adopted. When did g++ add support for it? We're still supporting gcc/g++ 4... If g++ 4 supports `vec.data()`, then using `vec.data()` should be fine. Otherwise, it's best to go with the more widely supported `vec.size() ? &vec[0] : NULL`.

[2020-02-17 01:26] cheese commented on #272
GCC 4.x versions are different. I remember GCC 4.8.1 is the first one that has C+11 feature complete. So I think C++11 feature should be avoided if GCC versions less than 4.8.1 are still supported, even the `vec.data()` method may have been implemented in some earlier version.

[2020-02-17 07:31] p-alik commented on #272
Done.

Since such change could lead to unforeseeable impact in CI build process, we should gain some experience with most little subset at the beginning. Other thoughts?

[2020-02-18 03:03] SpamapS commented on #270
Thanks Ed, I think I was rushing and ran `make dist` outside of the clean VM that I was using to make the release, and my laptop is still producing weirdness in configure scripts.

I'll try making a 1.1.19.1 tarball from a clean VM. (and I'll test it before release this time!)

[2020-02-18 03:51] SpamapS commented on #270
Please try 1.1.19.1, which should work fine.

[2020-02-18 03:56] SpamapS commented on #271
Definitely the same as #270

[2020-02-18 03:56] #271 closed

[2020-02-18 04:07] SpamapS commented on #272
RHEL8 / CentOS 8 are out. This means RHEL6 is now the old stable, not the stable release of RHEL. So I'd like for us to stop supporting < 4.8.1

[2020-02-18 09:55] cheese opened #277 "test t/protocol sometimes gets stuck"
I am packaging 1.1.19.1 for Fedora and runs 'make test' during in %check session. I found sometimes test t/protocol gets stuck.

[code]

gearmand backtrace:
[code]

t/protocol.log:
[code]

var/log/gearmand.logXPGE8g:

[code]

[2020-02-18 11:31] cheese opened #278 "libtest/http.c crashed if CXXFLAGS contains '-Wp,-D_GLIBCXX_ASSERTIONS'"
The cause is the same with #272. There are three occurrences of `&_body[0]`.

[2020-02-18 12:28] p-alik commented on #278
Indeed. As @esabol [mentioned](https://github.com/gearman/gearmand/issues/272#issuecomment-586751199) you'll see it often.

[2020-02-18 16:00] esabol commented on #277
Found this:
https://stackoverflow.com/questions/2334352/why-do-i-get-a-sigabrt-here

[2020-02-18 17:47] #272 closed

[2020-02-19 08:01] p-alik commented on #270
bootstrap force overriding of m4 files:
https://github.com/gearman/gearmand/blob/a6bd168ca73bd29d0bf13ad946034957f9c86546/bootstrap.sh#L1096

Source build on Ubuntu 18.04 overrides 27 files:
[code]

[2020-02-19 08:33] cheese opened #279 "t/vector fails on 32bit platforms at ASSERT_FALSE(vec.resize(INT64_MAX))"
Are 32bit platforms still supported?

Tested 1.1.19.1 on 32bit CentOS7 altarch, and t/vector failed during `make test`.
The same on 32bit ARM.

The only failing assertion is `ASSERT_FALSE(vec.resize(INT64_MAX))`.

This Dockerfile can reproduce the issue:

[code]

[2020-02-19 09:05] p-alik commented on #279
There are `{U,}INT64` [type checks](https://www.gnu.org/software/autoconf/manual/autoconf-2.64/html_node/Generic-Types.html)
https://github.com/gearman/gearmand/blob/a6bd168ca73bd29d0bf13ad946034957f9c86546/configure.ac#L188-L205

Shouldn't it cause an exception on 32bit system?

The assertion has a long history 255137a0e.

[2020-02-19 16:03] esabol commented on #279
This is not specific to 1.1.19, right? This applies to 1.1.18, 1.1.17, etc., too?

[2020-02-19 16:05] esabol commented on #274
I don’t think this is an issue. I’m going to close it unless someone comments that it should stay open.

[2020-02-19 16:10] esabol commented on #270
Well, um, don’t do that?

[2020-02-19 19:50] p-alik commented on #279
yes

[2020-02-19 20:00] p-alik commented on #270
Wouldn't it be good to put those update into repo?

[2020-02-19 21:42] esabol commented on #270
I've tested 1.1.19.1, and it compiled fine and did not exhibit the problems detailed earlier. `make test` passed on the second try. `t/multi_client` FAILed on the first try.

But the m4 files in the m4 directory still do not match the m4 files in this repo:
[code]
Clearly, the release procedure is different from I would expect. Could the release procedure be documented somewhere?

[2020-02-19 21:59] esabol commented on #270
If they improve something, sure, but it should be done in a PR.

[2020-02-21 01:37] esabol commented on #278
PR #281 submitted for this. Please take a look @cheese. It seemed to fix the issue in my Fedora 31 build in Docker.
[code]

[2020-02-21 01:55] esabol commented on #272
The oldest version of gcc/g++ we have access to in Travis CI is 4.8.5, so I concur.

[2020-02-21 02:45] esabol commented on #270
My Ubuntu 18.04 build doesn't do this. I wonder what's different about your build? My aclocal on Ubuntu 18.04 is version 1.15.1.
[code]

[2020-02-21 03:12] cheese commented on #272
1.1.19 already does not build on EL6, with GCC 4.4, since `nullptr` is used.

[2020-02-21 09:17] cheese commented on #277
How to change the log level for gearmand run by tests? So I can try to produce a more verbose log.

Or how to run gearmand under valgrind to detect memory issue?

[2020-02-21 10:43] p-alik commented on #270
Please fix your `Dockerfile`: remove building behind `uuid-dev \`.

The same in my environment.

[2020-02-21 19:48] esabol commented on #270
I'm sorry, but I don't understand what you are saying.

[2020-02-23 01:07] esabol commented on #279
If this is the only thing that fails, then that is easily fixed, right?

Is there any reason _not_ to support 32-bit architectures?

[2020-02-23 01:09] esabol commented on #277
I think I saw a target for running valgrind in the Makefile? Not sure....

[2020-02-25 19:16] SpamapS commented on #270
Quoting Ed Sabol (2020-02-19 13:42:26)

Great idea, I'll try to get some cycles for a more complete writeup but
here's the basics:

1) On a clean VM, clone gearmand
2) git tag -s {release} describing overall release changes
3) ./bootstrap.sh
4) assuming clean build and test seen there: `make dist` -- this makes
the tarball
5) copy tarball to another dir, extract, ./configure && make -j && make
ins

[2020-02-25 19:19] SpamapS commented on #270
Quoting Ed Sabol (2020-02-20 18:45:50)

The Dockerfiles like the one above have been useful for me. Can you
submit it as Dockerfile in the repo root?

[2020-02-25 19:20] SpamapS commented on #279
Quoting Ed Sabol (2020-02-22 17:07:05)

There will be relevant 32-bit arches for many years to come.

This is an easy fix with a conditional define. I don't have time, but
yes, somebody should fix this.

[2020-02-26 21:26] esabol commented on #279
So I *think* this works on both 32-bit and 64-bit systems:
[code]
Anyone see a problem with that?

Otherwise, things get complicated:
[code]
References:
https://stackoverflow.com/a/40033930/5153779
https://stackoverflow.com/a/44401992/5153779

Should we bother to rename `INT64_MAX_resize_TEST` to something else?

[2020-02-26 21:58] esabol commented on #270
The main difference I see from what you do and what I do (and what Travis CI does) is that you execute `./boostrap.sh`, but I execute `./bootstrap.sh -a`. Neither one results in modifications to the m4 files on my ubuntu:18.04 Docker image, so I'm still confused as to why you and @p-alik are getting different m4 files from me.

Sure, I get that, but I'm using the latest versions of aclocal and aut

[2020-02-26 23:54] esabol commented on #277
Yeah, type `make valgrind`. That echoes another command that starts with `make check`. If you copy and paste that command, it runs valgrind. There's also a `make valgrind_suppressed` and a `make helgrind`. I'm not sure what the difference with these.

Unfortunately, valgrind spews a bunch of errors like this:
[code]
which, based on my reading of https://stackoverflow.com/questions/35578095/sem-@ec

[2020-02-27 00:52] esabol commented on #277
The `valgrind-supressions` [sic] command seems to suppress the `Syscall param write(buf) points to uninitialised byte(s)` bogus errors. That's probably what you want. All tests pass. That's good news!

`helgrind` has some FAILures though, and it seems to always hang in `t/client`. I see a lot of `Possible data race during read of size X` in the helgrind logs. I can't tell if those are spurious or

[2020-02-27 06:39] p-alik commented on #279
LGTM. My worry is, that we haven't 32 CI environment for testing.

Wouldn't it be appropriate to cut off `INT64` prefix?

[2020-02-27 08:27] cheese commented on #279
In C++ style, it would be better to use `std::numeric_limits<size_t>::max()` instead of `((size_t)(-1))`.

What's the real intention of using `INT64_MAX`? The generic of `INT64_MAX` seems `std::numeric_limits<ssize_t>::max()` instead of `std::numeric_limits<size_t>::max()`.

[2020-02-27 16:02] esabol commented on #279
In reply to @p-alik's comment:

Yeah. I've tested it with a Docker i386/centos7 image similar to what @cheese posted above, fwiw. I think it is possible to add Docker builds to Travis CI, but I don't know how. I think it's not worth the effort.

Sure, that would be appropriate.

In reply to @cheese's comment:

Interesting. I'll test that (maybe later today) and report back.

I'm not sure any of us

[2020-02-27 16:27] cheese commented on #279
If your guess of the test intent is right, the argument should be `std::numeric_limits<size_t>::max() - 1`. But the original used INT64_MAX, which is much less than `std::numeric_limits<size_t>::max() - 1` on x86_64. The original author may just use a large enough argument instead of the largest possible one.

[2020-02-27 17:08] p-alik opened #282 "broken postgres compatibility"
Well, otherwise make dies

[code]

Digging deeper:
[code]

As to me (and [not only to me](https://github.com/gearman/gearmand/issues/270#issuecomment-584950123)) it is convenient and pragmatic solution.

_Originally posted by @p-alik in https://github.com/gearman/gearmand/pull/280_

[2020-04-07 19:38] esabol commented on #278
PR #281 has been merged. I think that addresses this issue? @cheese, can you test it?

I'm still planning to add `CXXFLAGS=-Wp,-D_GLIBCXX_ASSERTIONS` to our gcc-9 builds to catch this in the future.

[2020-04-08 06:13] cheese commented on #278
I tested the latest code and the tests all goes well.

[2020-04-08 06:13] #278 closed

[2020-05-22 08:45] ziyaindia commented on #62
`<?php

/**
 * @version: 5.1
 */

class FNSGearman {
    public $gmclient;
    public $taskCount = 0;

    public static $results = array();
    public static function reset(){
        GearmanResults::$results = array();
    }

    public static function completeCallback($task) {
        $unique = $task->unique();
        if ($unique != null) {
            FNSGearman::$results[$unique] = $task->da

[2020-05-22 08:45] ziyaindia commented on #62
Following is my gearman client file code

`<?php

/**
 * @version: 5.1
 */

class FNSGearman {
    public $gmclient;
    public $taskCount = 0;

    public static $results = array();
    public static function reset(){
        GearmanResults::$results = array();
    }

    public static function completeCallback($task) {
        $unique = $task->unique();
        if ($unique != null) {

[2020-07-14 10:56] soul-rise opened #284 "memory leak"
Hi.
If you queue a large number of large tasks, then run a worker who will perform all the tasks,  but the German will not free up memory.
Gearman version 1.1.19.1

1. docker stats gearman
2. MEM USAGE  is 1.441MiB

other window
1. docker-compose up -d
2.  docker-compose exec hc hs
3. php s.php  // start send task, wait 10s and stop it

i can see  MEM USAGE up to 1.596GiB

4. php w.php
5. wait whe

[2020-07-14 11:53] p-alik commented on #284
I guess your worker doesn't consume anything.
You provides a function to `addFunction` but according to [documentation](https://www.php.net/manual/en/gearmanworker.addfunction.php)

[2020-07-14 12:12] soul-rise commented on #284
if i check gearadmin --status, i can show, that 0 task in queue after start worker

[2020-07-14 16:23] p-alik commented on #284
I can't run your PHP code and I couldn't reproduce the issue with similar Perl implementation.  Is there any evidence `gearmand` consumes the memory?

[2020-07-14 17:17] thibaultduponchelle opened #285 "Is it possible to compile gearmand statically ?"
Hello,

First thank you for gearmand :)

Simple question, can we build gearmand statically ?

I'm personally not able to make it with :
[code]
(I tried also some alternative like `--all-static`).

I'm able to compile a very old version (0.12) but 1.1.18 and 1.1.19 fails with errors.

I suspect a "static linking name collision" or a problem with C and C++ mixed code (missing extern C?).

Are you aw

[2020-07-14 17:32] esabol commented on #285
I'm not aware of anyone who has compiled gearmand statically or even expressed interest in doing so.

What's the use-case for doing so?

[2020-07-14 17:47] thibaultduponchelle commented on #285
Thank you for the quick lightning fast feedback :)

It is for the Perl packaging using “Alien system”.
Precisely it is to upgrade Alien::Gearman from 0.12 to latest gearmand

https://metacpan.org/release/Alien-Gearman

[2020-07-14 18:37] esabol commented on #285
That sounds like a worthy goal. So why does it need to be static?

https://metacpan.org/pod/distribution/Alien-Gearman/README.pod says it's a wrapper for libgearman, not gearmand. Are you trying to compile a `libgearman.a`?

[2020-07-14 19:06] thibaultduponchelle commented on #285
From the Alien doc:

`When building from source code, build static libraries whenever possible

Or at least isolate the dynamic libraries so they can be used by FFI, but do not use them to build XS modules. The reason for this is that if an end user upgrades their version of Alien::Foo it may break the already installed version of Foo::XS that used it when it was installed.`

(Here it is not for F

[2020-07-14 19:24] esabol commented on #285
Well, you certainly don't need `docs/source/libgearman/examples/gearman_execute_partition`. That's sample code.

In order to compile C++ programs statically, I think you need to install static versions of libg++ and libc (`yum install glibc-static libstdc++-static` or the equivalent).

Anyway, I tried the following on CentOS 7.8:
[code]
And it got fairly far along, but it errored out in some `libt

[2020-07-14 19:40] thibaultduponchelle commented on #285
Wow thank you a lot for this investigation. I will do further tests tomorrow and keep you informed.

Once again thank you a lot.

[2020-07-15 07:06] thibaultduponchelle commented on #285
I got it.

The command :
[code]

is crashing because of c compiler :
[code]

But the same with c++ compiler does not :
[code]

I can also fix the line with `-lstdc++` (while keeping the c compiler):
[code]

And warning, `-lstdc++` has to be the very last thing one the line or it's still fails.

This is because docs/source/libgearman/examples/* are C files that includes libgearman that has some C++

[2020-07-15 10:09] soul-rise commented on #284
docker-compose.yml

[code]

1. docker stats gearman
  MEM USAGE / LIMIT - 1.223MiB / 1.944GiB
2. docker-compose exec gearman sh
3. for i in `seq 1 3300`; do cat /dev/urandom | tr -dc ‘a-zA-Z0-9′ | head -c500000 | gearman -f test_queue -b; done
4.  gearadmin --status
test_queue      3300    0       0
5. docker stats gearman
 MEM USAGE / LIMIT - 1.553GiB / 1.944GiB
6.  gearman -w -f test_queue >> /d

[2020-07-15 12:42] soul-rise commented on #284
I check connect with case PHP scripts, connection was closed, but memory is partially free

[2020-07-15 13:32] p-alik commented on #284
I would say no.
@SpamapS, @esabol it looks like `gearmand` has little memory leak issue:
[code]

Memory usage increased by `528K`.

[2020-07-15 14:52] esabol commented on #284
Do you think this could be reproduced with Perl clients/workers, @p-alik ?

Could one of you try running gearmand in valgrind, repeating this test, and posting the valgrind log here? I think there's a valgrind target in the top-level gearmand Makefile.... Maybe that would help in tracking down where in the code the leak is.

[2020-07-15 14:56] esabol commented on #285
Great! I'm happy to help.

Could you reopen the issue? We really should fix how those sample executables are compiled, I think.

[2020-07-15 15:07] esabol commented on #284
Actually, I recommend starting with `make valgrind-suppressions` for starters.

Refer to my post here: https://github.com/gearman/gearmand/issues/277#issuecomment-591704445

[2020-07-15 15:09] thibaultduponchelle commented on #285
OK I reopen, thank you :+1:

[2020-07-15 15:48] p-alik commented on #284
I'm afraid I can't do it on my local environment:
[code]

The same result for `make valgrind-suppressions`. In  [#177](./177#issuecomment-425142650) I did it with `./configure --enable-debug`, which doesn't help further.

[2020-07-15 18:13] esabol commented on #284
`make valgrind`, `make valgrind-supressions`, and `make helgrind` only echo commands to run gearmand under valgrind. You need to copy the command that is echo'ed and then execute it.

[2020-07-15 18:38] p-alik commented on #284
`valgrind --leak-check=full --show-reachable=yes --error-limit=no --gen-suppressions=all --log-file=minimalraw.log /opt/devel/Gearman/gearmand/gearmangearmand` produced [minimalraw.log](https://github.com/gearman/gearmand/files/4927258/minimalraw.log)

[2020-07-15 19:11] SpamapS commented on #284
Very possible that there is a leak, but valgrind will only show it if you
actually hit it though. So, try to follow the instructions to get a
valgrind version up, and then repeat the client behavior, and see if you
can find the leak.

On Wed, Jul 15, 2020 at 11:38 AM Алексей Пастухов <notifications@github.com>
wrote:

[2020-07-16 15:10] thibaultduponchelle opened #287 "What is the status of Gearman::XS"
### Gearman Perl clients
I want to discuss "Gearman Perl clients".

From http://gearman.org/download/ I see there are 3 implementations:
- [Gearman::XS](https://metacpan.org/release/Gearman-XS) (you should remove second link in [launchpad](http://gearman.org/download/) and only keep metacpan one)
- Pure Perl [Gearman](https://metacpan.org/release/Gearman)
- Pure Perl [AnyEvent::Gearman::Client](ht

[2020-07-16 15:28] sni commented on #287
Not really an answer to your question, but we are using the pure perl module (https://metacpan.org/release/Gearman) here
at various places. It works fine and the XS module had some issues as far as i remember. Also it requires libgearman which makes it a bit more complicated to build. We also had never perfomance issues, so there was no need to further explore the XS module again.

[2020-07-16 16:01] esabol commented on #287
This is what I recommend, also. It's the best maintained at this point. I've been using it in a production system for years now.

[2020-07-16 16:06] esabol commented on #287
Brian Aker developed gearmand (I think–it's hard to keep track of all of the different Gearman implementations), but he handed off maintaining it a few years ago. He still shows up occasionally when we have a question, but he's not actively maintaining anything Gearman-related, AFAIK. If you wanted to adopt `Gearman::XS`, you probably could.

[2020-07-16 16:36] p-alik commented on #287
You've to ask @BrianAker for co-maintainer permissions.
see [Taking over](https://www.cpan.org/modules/04pause.html) section.

[2020-07-18 12:58] thibaultduponchelle commented on #287
Thank you all for the feedback ! :smile:

Then my conclusion is :
* Is it probably not really worth to invest too much effort into it
* It is probably available at least for a co-maintainer, need to ask (I'm not yet decided, depends a bit what I'm able to do with Alien::Gearman :smile:)

Thank you again for all these answers.

[2020-07-18 12:58] #287 closed

[2020-07-19 23:43] BrianAker commented on #287
Thanks for thinking about it :)

[2020-07-20 07:55] bessudnov opened #288 "Segfault on work"
Sometimes we get SIGSEGV from our php worker.
gdb said next thing:
[code]

I can't add php code because of NDA, later I will try to write an example, but maybe there will be any info according gdb trace.

PHP 7.1.32 (cli)
libgearman version => 1.1.18+ds

[2020-07-20 13:50] bessudnov commented on #288
I tried to reproduce, but it not reproducable)
We have 2 datacenters, we got such crash only in one, another runs okay.

Maybe any idea what can be wrong?

[2020-07-20 18:29] p-alik commented on #288
Between your application and `gearmand` is [pecl-gearman](https://github.com/wcgallego/pecl-gearman/blob/3cebb6405f2c23baf709972edd7b7be131f21880/php_gearman_worker.c#L637), which also could be the cause for the issue. Maybe `gearmand` log file could provide some useful information.

[2020-07-20 20:57] esabol commented on #288
You're not giving us a whole lot to go on. Where did you get this version of libgearman? Is it the latest version compiled from gearmand 1.19.1 release? If not, the first thing I'd do would be to compile the latest version and try that.

[2020-07-21 18:24] p-alik commented on #284
@SpamapS, @esabol, do you have any thoughts on `valgrind`-output [minimalraw.log](https://github.com/gearman/gearmand/files/4927258/minimalraw.log)?

[2020-07-21 21:50] esabol commented on #284
I don't have a lot of experience interpreting valgrind logs, but it seems to be indicating there's a 40-byte leak per call to `gearmand_create()`? But maybe that's to be expected, I don't know. It's actually allocated by libevent?

But that's no where near the size of the leak that @soul-rise reported. @soul-rise, can you try to run gearmand under valgrind, reproduce your test case, and upload the

[2020-07-21 21:55] esabol commented on #284
This message thread about a libevent memory leak shows a very similar valgrind log:

https://libevent-users.monkey.narkive.com/Qemtm7oP/libevent-memory-leak

The libevent developer there said that `event_global_setup_locks_` is a one-time allocation. Also, if libevent were configured to '--disable-debug-mode`, it would eliminate one of the allocations at least.

[2020-07-21 23:14] bessudnov commented on #288
I finally found what caused such an error.
I had $gearmanWorker->setTimeout(1);
When server under highload (day time) it looks like problem in pecl-gearman, it works more that 1 milliseconds and because of such small timeout, php callback uses bad memory position. (Its just my guess)

When I set 5000 milliseconds timeout - everything start works good.

[2020-07-22 05:51] #288 closed

[2020-07-26 10:19] bokutin opened #290 "Is output of "status" parseable?"
Hello.

In relation to the below, I suspect that the current Administrative Protocol ”status” output cannot be parsed.
https://github.com/netdata/netdata/issues/9604#issuecomment-663961162
https://github.com/p-alik/perl-Gearman/pull/46#issuecomment-663961434

In most cases I accept that function names are simple strings, but is it possible to write an exact parser?

Thanks,

[2020-07-26 13:53] esabol commented on #290
Seeing as how function names have no restrictions other than being a NUL-terminated string, I think the answer is no in that most general case.

If you make sure to only use function names which don't include tabs, I think the answer is yes? I think tabs are what are tripping you up?

That said, I think it would make sense to add a JSON format mode to the status response. That would give us flexib

[2020-07-26 14:39] bokutin commented on #290
Thanks for the answer.

I'm just using prefix. https://metacpan.org/pod/Gearman::Objects#prefix([$prefix])
Then the tab of prefix_sepaleter will be included in the function name. https://metacpan.org/pod/Gearman::Objects#prefix_separator([$separator])

In the case of netdata above, it doesn't work just because tab is included in the function name, so I posted an issue.
Further research into writin

[2020-07-26 15:00] bokutin commented on #290
The reason why it's logically impossible to write a parser is that the following code is allowed:
[code]

[2020-07-26 20:13] p-alik commented on #290
The prefix - and separator also - exists only in perl-Gearman and `gearmand` doesn't know anything about it.

Since [2.004.001](https://metacpan.org/changes/distribution/Gearman#L69) it is possible to provide desirable separator value.
The tab as default separator value remains for backwards compatibility.

[2020-07-26 20:16] p-alik commented on #290
I think it is an issue for perl-Gearman only.

[2020-07-27 00:27] bokutin commented on #290
Thank you for your reply.

Even with the gearadmin, Can the same thing.

% gearadmin --status
.
% perl -e 'system qw(gearman -w -f), "func2\t0\t0\t0\nfunc3"'
% gearadmin --status
func2   0       0       0
func3   0       0       0
.

If I had prohibited the possible \n in function names, the parser would have written it.
Or, in the output of "status", escape the delimiter included in the function

[2020-07-27 22:11] esabol opened #291 "Add macOS build(s) to Travis CI"
We probably should be building gearmand on macOS in Travis CI to insure we don't break anything there.

See https://docs.travis-ci.com/user/multi-os/ and https://docs.travis-ci.com/user/reference/osx/ for details.

Unless someone beats me to it, I'll submit a PR when I have some free time.

[2020-07-28 05:51] bokutin commented on #290
Thanks for the quick answer!

[2020-07-28 05:51] #290 closed

[2020-07-29 08:08] gitHusband opened #292 "error: 'environ' was declared 'extern' and later 'static' [-fpermissive]"
Hi!

I am Devin.

 I try to build gearmand-1.1.18 or gearmand-1.1.19 or gearmand-1.1.19.1. The same error I got.

ENV:
Docker Alpine, gcc 9.3.0

Can you help to investigate? Thanks!

 CXX      libtest/libtest_libtest_la-collection.lo
**libtest/cmdline.cc:65:15: error: 'environ' was declared 'extern' and later 'static' [-fpermissive]**
   65 | static char **environ= NULL;
      |               ^~~~

[2020-07-29 09:01] p-alik commented on #292
#289 the bug fix for the issue was merged into [master](https://github.com/gearman/gearmand/tree/master) branch last week. Try to build [master](https://github.com/gearman/gearmand/tree/master) source, please.

[2020-07-29 13:01] gitHusband commented on #292
Great! Thanks! I'll try to build master.

[2020-07-29 17:42] esabol commented on #284
@soul-rise, are you willing to help track this down?

[2020-07-30 03:32] gitHusband opened #293 "Build in Alpine"
Hi!

I got some problem when I tried to build gearmand in Docker-Alpine(gcc v9.3.0).

As you know, when build gearmand with version 1.1.91.1 and below, there has a bug which was fixed in #289.
`error: 'environ' was declared 'extern' and later 'static' [-fpermissive]`

So I try to build master.

There are two bugs for now:
1. `git clone https://github.com/gearman/gearmand && cd gearmand && ./bootst

[2020-07-30 05:21] #292 closed

[2020-07-30 06:27] gitHusband commented on #293
I fix libhashkit/common.h in my computer and them I can make successfully.
[code]

[2020-07-30 09:43] p-alik commented on #293
Thank you, @gitHusband!
Patched master could be faultless build on Ubuntu 18.04 with `gcc` 7.5.0.

[2020-07-30 13:11] gitHusband commented on #293
It's my pleasure. Would you fix the two bugs? @p-alik

[2020-07-30 13:43] p-alik commented on #293
Yes, I'll do that.

[2020-07-30 13:45] gitHusband commented on #293
Cool! Thanks!

[2020-07-30 23:19] esabol commented on #293
Using a modified `bootstrap.sh` and `libhashkit/common.h`, I was able to bootstrap, build, and test. Here's the Dockerfile I used:
[code]
Here's the diffs on my `bootstrap.sh` just for comparison:
[code]
Hope this helps!

[2020-07-31 06:57] p-alik commented on #293
@esabol, could you put the snippets in a PR, please?
Regarding libhashkit, it's a part of `geamand` and [libmemcached](http://docs.libmemcached.org/#libhashkit).
`geamand` version of the lib is a bit elder. For instance `update_continuum` seems to be useless

[code]

Removing `update_continuum` from `libhashkit/common.h` appears to be harmless. The remaining `md5_signature` seems to be alike `libh

[2020-08-01 23:55] esabol commented on #279
So this issue has languished. Rereading the thread here, I'm still not clear what the solution is. I think I'm still inclined to go with @cheese's suggestion of `std::numeric_limits<size_t>::max() - 1`. Anyone else have an opinion?

[2020-08-02 07:55] p-alik commented on #279
I'm of the same opinion because it is most appropriate for the purpose of test.

https://github.com/gearman/gearmand/blob/36c1e2348b1dcde7b446307e768f3756ab537947/libgearman/vector.hpp#L89

[2020-08-07 04:40] esabol opened #298 "Delete stale branches?"
Hi, @SpamapS and @p-alik. Can I delete the following stale gearman/gearmand branches?

upstream_master: Updated 4 years ago by mestia -- Any idea what this is?
SpamapS-testing-bonnyci: Updated 3 years ago by SpamapS

Reference: https://github.com/gearman/gearmand/branches

[2020-08-07 04:55] esabol commented on #293
I think libhashkit has been copied here from another project (libmemcached?). If so, I think it makes sense to just keep it as it is in order to facilitate comparisons with the upstream codebase.

[2020-08-07 07:57] p-alik commented on #298
I have no objections

[2020-08-07 08:44] p-alik commented on #293
@dormando, @BrianAker, could you share your knowledge regarding `libhashkit`. Would you recommend to keep it in gearmand code base?

I'm of the opposite opinion because:
* there is no code improvement in `gearmand` version of `libhash` since migration from https://code.launchpad.net/gearmand
* by using appropriate `libhash` we could get rid of bunch of redundant code and issues with regard to `lib

[2020-08-07 14:18] SpamapS commented on #298
Do it!

On Fri, Aug 7, 2020, 12:57 AM Алексей Пастухов <notifications@github.com>
wrote:

[2020-08-08 16:53] esabol commented on #298
Done! Closing issue.

[2020-08-08 16:53] #298 closed

[2020-08-10 19:10] esabol opened #299 "www.gearman.net"
@SpamapS, @p-alik, @BrianAker:

I'm not sure when this changed, but, if you go to http://www.gearman.net/, it shows libmemcached's website instead of gearman's. I suspect this is a mistake with the hosting setup. Anyone know who to contact?

[2020-08-10 19:22] esabol commented on #293
@p-alik: Looking through the code, it appears to me that `libhashkit_md5_signature` is the C++ interface and `md5_signature` is the C interface. Am I understanding that correctly?

Are you also saying `libhashkit_md5_signature` is the only routine used by gearmand? And the memcached plugin doesn't use it either? If so, you make a convincing case.

[2020-08-10 19:25] p-alik commented on #299
@SpamapS  asked [here](https://github.com/gearman/gearmand/issues/207#issuecomment-441558051) similar question regarding `gearman.org` and `gearman.info`. But there is no answer.

[2020-08-10 19:55] esabol commented on #299
http://www.gearman.info/ and http://www.gearman.org/ are both fine. I only see a problem with http://www.gearman.net/. I'm guessing it should redirect to http://www.gearman.info/.

[2020-08-10 19:57] p-alik commented on #293
`libhashkit_md5_signature` and `md5_signature` are mostly equal.
https://github.com/gearman/gearmand/blob/8f58a8b439ee206eec732c50de982b05e2d40b27/libhashkit/algorithm.cc#L94-L97

It seems there is very limited demand for `libhashkit` at all. But I'll check it accurately.
[code]

[2020-08-10 20:04] p-alik commented on #291
As mentioned [here](https://github.com/gearman/gearmand/pull/295#issuecomment-671076498) macOS build fails for variety of reasons yet.

[2020-08-11 16:26] esabol commented on #291
I'm seeing this in my OS X High Sierra build (which compiled and tested OK, just a lot of warnings):
[code]
At least some versions of macOS, Apple apparently used `int` instead of `long` for `tv_usec` in `struct timeval`. The solution is to use `suseconds_t` for the type instead. I think that works on Linux as well?

[2020-08-11 20:42] p-alik commented on #291
It looks like #300 solves `tv_usec` issue.  [This MacOS CI build](https://github.com/p-alik/gearmand/runs/972938549#step:5:369) runs in the next one `libtest/server_container.cc:52:61: error: 'ptr_fun<int, int>' is deprecated`.

[2020-08-11 22:12] esabol commented on #291
I think we want to use the following instead:
[code]
What do you think?

References:
https://stackoverflow.com/questions/44973435/stdptr-fun-replacement-for-c17
https://stackoverflow.com/questions/40575929/how-to-replace-stdptr-fun-with-stdfunction-and-stdref
https://stackoverflow.com/questions/216823/whats-the-best-way-to-trim-stdstring/216883

[2020-08-11 22:55] esabol commented on #291
I think we need to keep both versions? Use `#if __cplusplus > 201402L` before it?

Reference:
https://stackoverflow.com/questions/38456127/what-is-the-value-of-cplusplus-for-c17

[2020-08-12 07:52] p-alik commented on #291
Your proposal is fine for `g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0`. Unfortunately my presumption to solve [BOOST_WORKAROUND](https://github.com/gearman/gearmand/pull/295#issuecomment-667542980) is only partly true. [This CI build](https://github.com/p-alik/gearmand/runs/974719330?check_suite_focus=true#step:5:661) hits the issue on other parts of code.

[2020-08-13 03:09] esabol commented on #291
Did you add the following?
[code]
If so, where did you add it? You probably need to add it to every file that exhibits this boost problem. Or some common header file included by it.

None of this happens if you boostrap on Linux and then compile it on macOS. I'm not clear why that is.

[2020-08-13 18:46] p-alik commented on #291
see 4c03a246661ab580eef038ebb6d4f96e71bca699

At the end we've a [succeeded build](https://github.com/p-alik/gearmand/runs/981825195?check_suite_focus=true)

[2020-08-13 19:46] esabol commented on #291
Great!

[2020-08-14 08:19] infraweavers opened #301 "GearmanD hangs intermittantly"
Hello!,

We've recently upgraded to OMD3.30 which has replaced the ancient gearmand 0.33 that was shipped previously with 1.1.19.
This includes mod-gearman (for naemon) and pnp_gearman_worker (for pnp4nagios).  We find that periodically all our naemon checks stop responding. At the same time when gearman_top is executed, we get an error:

[code]

We replaced the build of gearmand with one with sym

[2020-08-14 13:59] infraweavers commented on #301
So we're reasonably confident now (ha) that the problem is https://github.com/gearman/gearmand/blob/master/libgearman-server/worker.cc#L124-L131 however we can't see how it would ever break out of that loop as nothing sets the `job_list` to NULL once it's been set. Confused :/

[2020-08-14 15:19] p-alik commented on #301
Thank you for your elaborate report, @infraweavers. Do you know how the bug could be reproduced?

[2020-08-14 15:26] infraweavers commented on #301
@p-alik unfortunately not, our reproduction case currently is to upgrade one of our monitoring servers and deploy the entire configuration to it and wait/restart the services a few times. With our config applied there is about 1200 checks per minute running, which should work out at about 2400 jobs being pushed onto gearman itself.

We're trying to narrow it down to a reproducible case currently,

[2020-08-14 16:03] p-alik commented on #301
Does `gearmand` get in the `if` branch?
https://github.com/gearman/gearmand/blob/8f58a8b439ee206eec732c50de982b05e2d40b27/libgearman-server/worker.cc#L127-L130

[2020-08-14 16:04] infraweavers commented on #301
We don't believe so, we see no logs for that nor when "nexting" through we've not seen it happen. I'll put a breakpoint on it and confirm now

[2020-08-14 16:07] infraweavers commented on #301
@p-alik No, it doesn't.
![image](https://user-images.githubusercontent.com/36475663/90269481-9b271080-de50-11ea-848f-967d5c27c7af.png)

[2020-08-14 16:47] p-alik commented on #301
Despite some "if nok"-branches there are only two `return GEARMAND_SUCCESS` in `gearman_server_job_queue`. Hence that's the only possible value
https://github.com/gearman/gearmand/blob/8f58a8b439ee206eec732c50de982b05e2d40b27/libgearman-server/job.cc#L340

[2020-08-17 03:16] SpamapS commented on #301
Wow that's a doozy. It looks like gearmand is having trouble tearing down workers that disconnect while they have jobs assigned to them. That *should* work, this code is present to handle the situation, but I will say, you may want to address this defensively, while we work this out, by making sure your workers avoid quitting while they have a job assigned.

The state machine in gearmand is basica

[2020-08-17 09:37] sni commented on #301
I am trying to give some answers for naemons mod-gearman in general:

 - workers will be spawned and stopped dynamically to respond to the workload
 - options for the gearmand are: `--port=4735 --pid-file=...
/gearmand.pid --daemon --threads=0 -q libsqlite3 --libsqlite3-db=.../gearmand.db --store-queue-on-shutdown --log-file=.../gearman/gearmand.log --verbose=ERROR --listen=localhost`
 - mod-gearm

[2020-08-17 09:58] infraweavers commented on #301
* We have 100-500 workers per gearmand (normally around 110), each worker performs 1000 jobs before exiting and being replaced with a new one. Unless it’s idle, then it waits 30 seconds before killing itself. So we think this works out at about 100 disconnect/reconnects per 30 seconds or so.

* We are reasonably sure we don’t use retries as we don’t have it configured in any of the mod-gearman fil

[2020-08-17 12:54] infraweavers commented on #301
Looking at that loop we've added 3 breakpoints (in the same location as the red dots in VScode on the right) and run the loop several times, it looks like `worker->job_list` is always pointing to the same reference:

![image](https://user-images.githubusercontent.com/36475663/90398358-2e4e8900-e091-11ea-95c3-aa1f05d4f4e9.png)

[2020-08-17 14:08] infraweavers commented on #301
Again, now looking at job.cc [https://github.com/gearman/gearmand/blob/master/libgearman-server/job.cc#L424-L435] it looks like the next item in the job_list is the first item in the job_list so it will just loop forever.

I've tried to demonstrate here as you can see by the printed references:
![JobsNextIsItself](https://user-images.githubusercontent.com/36475663/90405331-7ffc1100-e09b-11ea-94ae-

[2020-08-17 15:00] infraweavers commented on #301
Additionally, whilst trying to get a more easily reproducible example, we've found that before gearmand completely stops responding, we end up with a queue with -1 jobs running :

![image](https://user-images.githubusercontent.com/36475663/90410858-d0c33800-e0a2-11ea-8af0-bc52d11ea57b.png)

[2020-08-17 15:11] infraweavers commented on #301
We managed to get this to occur whilst we had the gearmand logging set to INFO. It seems a little suspicious that there's a unique log around the time for "Worker timeout reach on job, requeuing" just before gearmand stopped responding. It's perfectly possible that this is a coincidence however:
![image](https://user-images.githubusercontent.com/36475663/90411874-4a0f5a80-e0a4-11ea-818e-26af02eac2

[2020-08-17 17:17] esabol commented on #301
Possibly related to issue #119 ?

[2020-08-17 19:06] p-alik commented on #301
It seems a worker registered with [CAN_DO_TIMEOUT](http://gearman.org/protocol/) couldn't finish his job in time:
https://github.com/gearman/gearmand/blob/8f58a8b439ee206eec732c50de982b05e2d40b27/libgearman-server/connection.cc#L655-L657

https://github.com/gearman/gearmand/blob/8f58a8b439ee206eec732c50de982b05e2d40b27/libgearman-server/server.cc#L730-L731

The errors could be reproduced with:
* c

[2020-08-18 03:00] esabol commented on #301
I haven’t done much with this part of the code, so I really don’t know what I’m talking about, but this line looks suspicious to me:

https://github.com/gearman/gearmand/blob/e2d76cf631414964decc2f22006a666e1c0e2424/libgearman-server/worker.cc#L126

It’s passing `worker->job_list` to `gearman_server_job_queue()` to requeue. I would think you’d want to create a new job struct to requeue or at least

[2020-08-18 04:35] SpamapS commented on #301
We don't need a new job structure. What that code attempts to do, is remove it from the currently assigned worker, and push it back into the unassigned queue. The whole of gearmand works this way, adjusting references.

It feels like we may be zeroing in on it. I think that the bug is exactly there @esabol, but not for the reasons you might be thinking. My theory, which I'm just testing by reading

[2020-08-18 09:40] infraweavers commented on #301
@p-alik we've been playing with using that client arrangement and it does seem that "sometimes" it can trigger the event that causes gearmand to lock up, however we still have the other load on the gearman instance as well, so it's possible that it's just happening randomly and it correllates with us using the perl worker.

[2020-08-18 10:10] p-alik commented on #301
@infraweavers, [perl Gearman::Worker](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Worker.pm#L326) dies on first _"GEARMAN_JOB_NOT_FOUND:Job given in work result not found"_ because it gets unexpected [ERROR](http://gearman.org/protocol/) in response for [GRAB_JOB](http://gearman.org/protocol/). The worker implementation in your case seems to proceed to interact with `gearmand` w

[2020-08-18 11:22] infraweavers commented on #301
@p-alik Yeah, I wonder if that's what triggers the actual problem. We've not managed to use the perl worker in a loop on an isolated gearmand and reproduce the problem yet, so it feels like it may not have been quite as clear-cut as that.

[2020-08-18 13:49] infraweavers commented on #301
We've been watching it a lot today to try and get some handle on the situation where it happens, we're pretty sure that before it breaks, we've always ended up with a -1 in the Jobs Running column on gearman_top. A few seconds later it seems to end up stuck in that loop again

[2020-08-18 18:44] p-alik commented on #301
@infraweavers, I hope #302 solves the *-1*-issue. At least in my [aforementioned test](#issuecomment-675059023) it did.
After the first worker run in timeout. `status` showed proper result:
[code]
Next worker handled the job without timeout and exited afterwards:
[code]

[2020-08-19 08:14] infraweavers commented on #301
@p-alik we weren't able to consistently get the -1 issue using the [aforementioned test](https://github.com/gearman/gearmand/issues/301#issuecomment-675059023) however we have found that if we:
* run the worker
* push an item onto the queue
* wait for the worker to timeout
* run another worker that doesn't timeout to consume the message

Then gearmand will crash out, however it's in a completely d

[2020-08-19 09:03] p-alik commented on #301
That's odd running `gearmand` (built from master branch 8f58a8b439ee206eec732c50de982b05e2d40b27) doesn't die in my environment. After *worker_that_doesnt_timeout.pl.txt* finishes the stuff. Status looks
[code]

An attempt to kill `gearmand` by *Ctrl-C* doesn't work afterwards:
[code]

For #302 second worker *worker_that_doesnt_timeout.pl.txt* dies with *"unexpected packet type: error [JOB_NOT_FOU

[2020-08-19 10:00] infraweavers commented on #301
Interesting, so we've just built https://github.com/gearman/gearmand/commit/8f58a8b439ee206eec732c50de982b05e2d40b27 and the the behaviour is unchanged for us (i.e. the same as the gif above).

We're building and running on Debian 9.13 x64 freshly installed to test this whole scenario out so there's a minimum amount of stuff installed etc.

It's very odd that we don't have any logs in `dmesg` or `

[2020-08-19 10:33] infraweavers commented on #301
Turns out that if we remove all the other functions and workers from the gearmand and stop all the other load through it, we can get the same behaviour where gearmand doesn't close, but it sits there with a -1 without that patch applied:

![vLqjcCaoCg](https://user-images.githubusercontent.com/36475663/90624400-cd998a80-e20f-11ea-8f1c-a7be5c94b38e.gif)

[2020-08-19 11:28] infraweavers commented on #301
We've just completely reinstalled with gearmand 1.1.19 from OMD3.30 it looks like https://github.com/gearman/gearmand/files/5094915/worker_that_doesnt_timeout.pl.txt causes gearmand to have -1 in the jobs running even though it doesn't timeout. So that's ... odd..

[2020-08-20 02:12] SpamapS commented on #301
That -1 is a symptom, not a cause. It's actually quite an obvious one. the `job_running` total is only decremented in `gearmand_server_job_free` or `gearman_server_job_queue`. In both instances, these always call GEARMAND_LIST_DEL on the linked list that we see in a bad state. So this is a sign that we are probably hitting that code *twice* before we get into the bad state. Once `gearman_server_jo

[2020-08-20 15:05] infraweavers commented on #301
We've added some logging and been testing it as suggested, (https://github.com/infraweavers/gearmand/commit/ffee57dc5fe875f58b7bf3a8ef004080928d6f6d)
The first time we got a straight forward reproduction of the -1 our logs looked like this:
[code]

From this, it looks to us like both https://github.com/infraweavers/gearmand/blob/logging/libgearman-server/job.cc#L390 and https://github.com/infrawea

[2020-08-20 15:54] infraweavers commented on #301
We added more logging to hopefully see where it's being called from (https://github.com/infraweavers/gearmand/commit/60ba6185d13d745420debb80aef2cfb59e6d1566)
and the logs look like:
[code]

it looks like the call is : https://github.com/gearman/gearmand/blob/master/libgearman-server/gearmand_con.cc#L428 which presumably means that the timed out job has `server_job->ignore_job` set to true? Should

[2020-08-24 08:04] infraweavers commented on #301
@SpamapS No, we're not doing that explicitly and it doesn't look like the `gearman_worker` does it

[2020-08-24 08:05] sni commented on #301
There is no part in Mod-Gearman which calls cancel in any way.

[2020-08-24 08:17] sni commented on #301
Btw, there is also no part which calls anything timeout related. Or is there some implicit timeout in gearmand? Mod-Gearman uses the C-Library and the new worker uses the Go-Library.

[2020-08-24 08:35] infraweavers commented on #301
@sni does the mod-gearman C worker specify the `CAN_DO_TIMEOUT` flag do you know?

[2020-08-24 08:42] sni commented on #301
no, workers are created like this: https://github.com/sni/mod_gearman/blob/master/common/gearman_utils.c#L33
and clients like here: https://github.com/sni/mod_gearman/blob/master/common/gearman_utils.c#L73
Besides that, there should be no way a worker or client should confuse and break the server, either by misconfiguration or by misbehaviour (intended or not)

[2020-08-24 10:34] infraweavers commented on #301
@sni that is interesting. So we started investigating the timeout option because of this log: https://user-images.githubusercontent.com/36475663/90411874-4a0f5a80-e0a4-11ea-818e-26af02eac2a9.png  That was OMD3.30 upgraded box (called OMDA03) running a copy of our usual naemon config. Judging by the name of the job that's being requeued, could it be a result job rather than a check job?

[2020-08-24 10:41] sni commented on #301
i cannot tell that from the name. Thats nothing mod-gearman sets. Result queue jobs are usually super fast, its just a few bytes of text put on a internal linked list. This takes less than a millisecond usually.

[2020-08-24 10:57] infraweavers commented on #301
@sni Hmm judging by the output from running the worker in trace logging, it looks it isn't a result queue, it looks like it's a check job as they seem to have handles in the format: `H:$(hostname):$(JobId)". We're going to try and reproduce the problem with the worker logging enabled, maybe that'll shed some light on the sequence of events.

[2020-08-24 13:53] infraweavers commented on #301
We've just been adding more logging in around the setting of `ignore_job` and it appears it's being set in the timeout path it looks like (screenshot based on our fork at https://github.com/infraweavers/gearmand/commit/696d8a76680bfd2577d8cbedc4c51a686309c318):
![image](https://user-images.githubusercontent.com/36475663/91052505-759cc280-e619-11ea-9bfd-f0817a5725b7.png)

[2020-08-24 16:01] infraweavers commented on #301
Following on from the above, we're a little confused about how the requeuing/timing out should actually work. It sets ignore_job (https://github.com/gearman/gearmand/blob/master/libgearman-server/client.cc#L101),  but then requeues the same job. So it seems like it's assuming it's going to be thrown away, yet actually isn't. So we changed `gearman_server_job_queue` to also reset the `ignore_job` f

[2020-08-24 16:13] p-alik commented on #301
does that https://github.com/gearman/gearmand/pull/302/commits/902f7bb73afa72b45170d0ac76e67e6e1af58b9c  help?

[2020-08-27 02:57] SpamapS commented on #299
@dormando @BrianAker do you have any idea why this would happen?

[2020-08-27 02:57] SpamapS commented on #293
Can you please confirm whether or not master builds for you on Alpine now?

[2020-08-27 09:46] infraweavers commented on #301
@p-alik no that change doesn't make any difference to the problem, we still end up with -1 running jobs

[2020-08-27 14:16] esabol commented on #301
Could this issue be intertwined with or related to issue #197?

[2020-08-27 14:42] infraweavers commented on #301
Ooh definitely feels like it could be related @esabol The flow looks similiar to the test case we've been using in the lab here

[2020-08-28 08:44] p-alik commented on #293
#295 provided successful build on Alpine

[2020-08-28 09:23] sni commented on #301
found a worker in our production setup which uses the timeout functions. In OMD there is a perl worker from the pnp tool
which uses the Gearman::Woker module and sets a timeout of "2" during register_function. I found no documentation about
what unit the timeout is. Only thing i found is a discussion whether it should be seconds or milliseconds. In case it is
milliseconds, the timeout would be pre

[2020-08-28 16:02] esabol commented on #301
The official standard never specified the unit, which is ridiculous and has led to some unfortunate confusion for sure. But, for gearmand, it is definitely milliseconds and is documented as such in our PROTOCOL:

https://github.com/gearman/gearmand/blob/a2296619c166b902c4cc2de77cc7fe46aa74f6b9/PROTOCOL#L327-L335

[2020-08-31 00:22] esabol commented on #293
My Docker image of the master branch builds and tests fine:
[code]
[code]

[2020-08-31 00:53] esabol commented on #197
Someone please correct me if I'm wrong, but `--job-retries=0` is apparently intended to retry jobs for infinity. That's not how I would do it, but the default value for `--job-retries` is zero, and the code only stops retrying jobs if the server is configured wth a non-zero value for `--job-retries`. So I think this is actually working as intended (once issue #196 was resolved).

That said, perhap

[2020-08-31 07:01] sni commented on #197
+1 for `--job-retries=0` means zero, `--job-retries=-1` means infinite retries.

[2020-08-31 12:54] SpamapS commented on #197
I don't have any problem with this idea. However, we would need to call
that version 2.0, as it would change behavior of defaults.

I'd also like to make round robin the default job allocation strategy, so
maybe we should look at this.

On Mon, Aug 31, 2020, 12:02 AM Sven Nierlein <notifications@github.com>
wrote:

[2020-08-31 16:24] esabol commented on #197
Really? I could see calling it 1.2, but 2.0 seems a bit extreme.

[2020-08-31 17:28] esabol commented on #101
There’s a patch (actually multiple patches) for this over on Launchpad:

https://bugs.launchpad.net/bugs/1352411

It seems to have been mixed up with some SSL-related changes though.

[2020-08-31 17:54] esabol opened #304 "IPv6 patch from Launchpad?"
There’s a short little patch over at https://bugs.launchpad.net/bugs/1319250 that addresses “corruption of IPv6 addresses in gearadmin --workers and log output“. Should we merge this?

Seems valid based on my reading of https://stackoverflow.com/questions/16010622/reasoning-behind-c-sockets-sockaddr-and-sockaddr-storage

[2020-08-31 22:14] SpamapS commented on #197
In the old world, maybe. But to me, it needs to be clear that when you
install this, it's not just new features: behaviors have changed.

On Mon, Aug 31, 2020 at 9:24 AM Ed Sabol <notifications@github.com> wrote:

[2020-09-01 07:38] gitHusband commented on #293
Cool, I can build Docker Alpine image of the master branch successfully now. Thanks! @SpamapS @p-alik @esabol

[2020-09-01 07:51] #293 closed

[2020-09-01 09:06] p-alik commented on #197
In my opinion the changes should be note in [ChangeLog](../blob/master/ChangeLog), which is slightly outdated https://github.com/gearman/gearmand/blob/67407a4fd6cd03705175badd58b3bf95e010d2cf/ChangeLog#L4

[2020-09-03 07:22] esabol commented on #301
Does anyone think the following changes might be helpful? I think `gearman_server_job_queue()` isn't properly handling jobs that have been marked to be ignored?

@infraweavers: Can you give this a try?

[code]

[2020-09-03 09:29] infraweavers commented on #301
@esabol we just applied that and ran our little test setup and we ended up with the negative jobs running according to gearman_top again. That said, we were looking around there ourselves as it seems like there's some very strange behaviour around when the job times out, whether it's ignored or deleted; it seems to be both and neither.

[2020-09-03 10:01] esabol commented on #301
Yeah, I didn’t think that would fix the negative numbers. My main concern was preventing the hanging/crashing. Did it do that?

[2020-09-03 10:11] p-alik commented on #301
I'll raise the same concerns @SpamapS raised on [#302](../pull/302#pullrequestreview-476349796). I think reliable regression tests are required to answer such question.

[2020-09-03 10:15] infraweavers commented on #301
Ahh right, no. We don't have an easily reproducible test case for the hard "interrupted system call" yet, however we did manage to reproduce that with the patch applied.

[2020-09-03 10:19] esabol commented on #301
Bummer. Back to the drawing board. Thanks, @infraweavers.

[2020-09-03 10:27] esabol commented on #301
Could someone explain to me how this `while` loop exits?

https://github.com/gearman/gearmand/blob/e2d76cf631414964decc2f22006a666e1c0e2424/libgearman-server/worker.cc#L124-L131

[2020-09-03 10:28] infraweavers commented on #301
@esabol That is the question that has been boggling my mind for weeks now. I think `gearman_server_job_queue` somehow mutates `job_list` but I don't understand how.

[2020-09-03 11:31] infraweavers commented on #301
I just want to restate where we are and what our current understanding is as I keep getting lost:

We have a gearmand 1.19.1  built from source that we can tinker with.
We have a gaerman perl worker that seems very good at causing negative jobs running when executed in this environment

[code]

We have just noticed, that if we increase the sleep from sleep 1 to sleep 2; that we very rarely get the

[2020-09-03 14:27] infraweavers commented on #301
Following on from the above, we have now got a reasonably self-contained and easyish to reproduce test case.

You need these 2 workers:
x: https://github.com/infraweavers/gearmand/blob/workers/worker_that_timesout.pl
y: https://github.com/infraweavers/gearmand/blob/workers/worker_that_doesnt_timeout.pl

x will timeout, y will not

1. start `gearmand`
2. start `gearman_top`
3. run the two workers s

[2020-09-03 15:37] infraweavers commented on #301
We've also just reproduced this on a completely fresh, Debian 9 box building gearmand from source. We didn't have gearman_top on this box so we used `gearadmin --status` to provide the same sort of output. However there is a difference in the output as `gearadmin --status` will hang rather than returning an error when the problem has been reproduced.

[2020-09-04 09:35] p-alik commented on #304
I do not have any objection to apply the patch to libgearman-server/gearmand.cc. But it would be advisable to have tests for that.

According to [socket man page](https://www.man7.org/linux/man-pages/man7/socket.7.html)

But there are critical notes with regard to the `struct sockaddr_storage` https://github.com/joyent/libuv/issues/430

[2020-09-04 11:59] p-alik commented on #301
@infraweavers, for some reason I can't reproduce the failure following your [instruction](#issuecomment-686529994) without `gearman_top`. Even `gearadmin --status` is responsive without any delay no matter how long the workers and clients are running.

For testing purpose I used [vagrant debian 9.13 box](https://app.vagrantup.com/bento/boxes/debian-9.13), `gearmand` built from source on e4aa993cbe

[2020-09-04 12:35] infraweavers commented on #301
@p-alik That's very interesting, we installed the `Gearman::Worker` from cpan after installing `libio-socket-ssl-perl` to get the latest version. I wonder if that could be a factor?

[2020-09-04 13:18] infraweavers commented on #301
@p-alik I've just made another screencapture doing the steps one by one and a little shower, for us it's basically completely reproducible within about 10-15 seconds of both workers running however it might be that we're so used to doing this now that we're doing it in exactly the same way every time and that results in reproduction. We've built it from https://github.com/gearman/gearmand/commit/e

[2020-09-04 13:50] p-alik commented on #301
Actually no. There are no changes in `Gearman::Worker` on master comparing to the last version on CPAN
[code]

Never the less I tried with CPAN installation of `Gearman::Worker`. As expected I've got the same result. No failure.

I'll watch your video tonight.  Thank you!

[2020-09-04 14:50] infraweavers commented on #301
Just built and reproduced the problem on Debian 10 to help eliminate it being a library version issue or similiar. It's interesting that one of the reproductions made gearmand blow up completely with:
[code]

The second time we tried to reproduce, we ended up with the standard looping forever behaviour we've seen. I assume there are situations where you can get it to blow up with the above, maybe

[2020-09-04 17:49] p-alik commented on #301
To reproduce the issue following [your instruction](#issuecomment-686529994) run `gearmand --threads=0`. No issue at all if `gearmand` runs without `--threads=0`

[2020-09-05 13:33] infraweavers commented on #301
@p-alik Ahh sorry, yes we should have been more precise, I've updated the instructions now

[2020-09-05 14:22] SpamapS commented on #301
This is good news! A reproducer will let us observe. Thank you.

Also.. to take the pressure off a bit.. what about running with --threads=2?

On Sat, Sep 5, 2020, 6:33 AM A Codeweavers Infrastructure Bod <
notifications@github.com> wrote:

[2020-09-05 15:54] infraweavers commented on #301
@SpamapS possibly an option, I'm not really too sure why OMD ships with `--threads=0` @sni do you know if there's a particular reason for it?

[2020-09-05 20:03] sni commented on #301
there might have been a reason, but i cannot remember and the particular commit message isn't helpful either.
It might just have been a try to remedy some ambiguous issues.

Btw, the help says:
[code]

So is zero a bad idea? I am happy to set it to whatever works.

[2020-09-05 21:07] SpamapS commented on #301
gearmand *should* absolutely work with `--threads=0`. But it might be a
decent workaround for this bug to have multiple threads while we figure
this out and get a release out with any bugfixes we come up with. This
observation also supports the theory that things are just happening in an
unexpected order in one thread, where they generally happen in different
threads on a multi-threaded system. Bo

[2020-09-05 21:11] infraweavers commented on #301
@sni I'm pretty sure when I read the code for the handling of `--theads` the help is wrong and that actually means 1 thread.

[2020-09-05 21:33] SpamapS commented on #301
Gah I think I got mixed up. --threads=0 means "as many threads as cores".
On Debian, that should be returning the # of cores. If you leave off
`--threads=0` the default is equivalent to `--threads=4`

On Sat, Sep 5, 2020 at 2:11 PM A Codeweavers Infrastructure Bod <
notifications@github.com> wrote:

[2020-09-06 06:44] esabol commented on #301
@infraweavers: What output do you get from executing the following command on your system?
[code]
The value returned should be the number of threads that `--threads=0` is using on your system. That might be useful to know when reproducing the problem.

[2020-09-06 08:04] infraweavers commented on #301
Interesting, so we have 3 different values for `getconf _NPROCESSORS_ONLN` that we've seen the issue under:
* Our actual production machine that we first saw the problem on: `8`
* Our upgraded "live-like" machine: `4`
* Our first reproduction box (OMD3-Debian 10): `2`
* Our second reproduction box (OMD4-Debian 9): `2`

Now it does seem "easier" to reproduce the problem on our test boxes, (OMD3,OMD

[2020-09-07 12:21] infraweavers commented on #301
I've just confirmed that the problem occurs with `--threads=0`, `--threads=1`, `--threads=2` on our test box; however it doesn't seem to occur in the same way at `--threads=4`.

The box is a dual core box, so presumably if the number of threads exceeds the number of cores it causes the problem to not present or alternatively, not present as easily.

[2020-09-07 12:36] p-alik commented on #301
I got the same discovery regarding `--threads=0`, `--threads=1` yesterday.

[2020-09-07 15:24] infraweavers commented on #301
Just to clarify, the behaviour around `--threads` is as follows: *if* the machine has more than 4 cores, then it will default the number of gearman threads to the number of cores, otherwise, `--threads=0` means 1 thread:  https://github.com/gearman/gearmand/blob/master/gearmand/gearmand.cc#L373

[2020-09-07 16:43] SpamapS commented on #301
Thanks for all of the investigations everyone. Agreed, that is a really
confusing logic and I'm not sure why we do less threads when cores < 4.
That code came in while I wasn't developing on gearmand.

Anyway, working theory is just a good old thread-unsafe race condition. If
you have more threads, and better latency as a result, then you make it
hard for the race to go the wrong way.

With reprod

[2020-09-07 17:41] esabol commented on #301
I wonder if the intention was for the code to use 4 threads when `--threads=0` is specified and the number of cores detected was less than 4?

Anyway, I was doing some digital archaeology over at Launchpad and found thus unresolved issue:

https://bugs.launchpad.net/bugs/1176324

It sounds pretty similar?

[2020-09-07 18:48] infraweavers commented on #301
That *would* make sense, however I am able to reproduce the problem with `--threads=1` ?

[2020-09-08 16:39] p-alik commented on #301
Here an other test approach based on master e4aa993cbefb8f156dddcff17016107afc0a4918
1. `./gearmand/gearmand --threads=0`
2. Run a worker
[code]
3. Add the first job. That's cause #119
[code]
4. It may happen the second job or some of subsequently jobs hangs because the worker dies with `unexpected packet type: error [JOB_NOT_FOUND -- Job given in work result not found]` status looks like
[code]
5

[2020-09-08 18:59] p-alik commented on #301
@infraweavers, may I ask you to test https://github.com/p-alik/gearmand/tree/issue-301-revert-cfa0585
It's the same as #302 + reverting of cfa05857aa9c67663ee1acf1b9ae500556929e96. In my environment `geamand` built on top of the branch sustained both [my](#issuecomment-688999913) and [yours](#issuecomment-686529994) test procedures.

[2020-09-09 01:02] esabol commented on #301
I strongly disagree with reverting [cfa0585](https://github.com/gearman/gearmand/commit/cfa05857aa9c67663ee1acf1b9ae500556929e96). All you’re doing is changing the timeout from your worker from 2 ms to 2 seconds. You could achieve the same result by setting your worker timeout to 2000 ms. A 2 ms timeout is ridiculously short and unrealistic, and that is presumably what is causing the race conditio

[2020-09-09 01:28] SpamapS commented on #301
That agrees with the working theory. My theory being that less threads ==
more chance of the wrong line of execution winning the race and thus
double-mutating the list.

On Mon, Sep 7, 2020 at 11:49 AM A Codeweavers Infrastructure Bod <
notifications@github.com> wrote:

[2020-09-09 17:06] esabol commented on #304
Seeing as how IPv6 testing relies on the network configuration of the host, I think adding tests that work consistently may prove difficult.

[2020-09-10 15:45] p-alik commented on #301
It appears to me without [cfa0585](https://github.com/gearman/gearmand/commit/cfa05857aa9c67663ee1acf1b9ae500556929e96) `gearmand` executes `CAN_DO_TIMEOUT` in same way as `CAN_DO` and never goes into [_server_job_timeout](https://github.com/gearman/gearmand/blob/302f33cebf730a9f7356ccdcc4cb8b4c171bd68a/libgearman-server/connection.cc#L648). Hence reverting of [cfa0585](https://github.com/gearman/

[2020-09-10 17:06] infraweavers commented on #301
Yeah, we'll try this tomorrow!

[2020-09-10 17:09] infraweavers commented on #301
@p-alik Is there something you're seeing there that implies that it'll have a different effect to multiplying the timeout by 1000? To me it looks like the net-effect of reverting that change is what @esabol suggested.

[2020-09-10 19:34] p-alik commented on #301
@esabol, I was completely wrong about reverting cfa0585 would solves this issue.

[2020-09-10 22:42] esabol commented on #301
Ah, OK. I was going to add a bunch of logging statements to prove it one way or another, but I don't have to now. Or maybe that would still be useful?

One of the things I noticed in the code was that, if the timeout is less than 1000 ms, it sets it to 1000 ms.

https://github.com/gearman/gearmand/blob/aa41156dfacba055d5781720fa47f66d57098e2a/libgearman-server/connection.cc#L687-L693

So whether y

[2020-09-10 23:26] esabol commented on #301
It took me a while to locate `timeout_add()`. It's part of the libevent API in case anyone else didn't know. I was curious as to whether the `struct timeval` should be an elapsed time or an absolute time. At least one other API I came across in my googling used absolute times, and you were supposed to add the current time to the `struct timeval`, but none of the libevent examples I googled did tha

[2020-09-11 07:07] infraweavers commented on #301
@esabol presumably if the old version is actually causing this problem it'd be firing the event twice or similiar? We can add logging and confirm if that's the case

[2020-09-11 07:29] p-alik commented on #301
Yes.

[vscode](https://code.visualstudio.com/) + [ms-vscode.cpptools](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools) shows it just in time.

Judging from the [comment in event_compat.h](https://github.com/libevent/libevent/blob/a18301a2bb160ff7c3ffaf5b7653c39ffe27b385/include/event2/event_compat.h#L191-L202) it makes sense in any case, but I don't think that helps to solve

[2020-10-22 09:04] illuusio commented on #301
I can get this on 1.1.8. TL;DR; problem is there something to test with? I'm using Perl system where client absence hangs Gearman. I'm currently building 1.1.9.1 to check if it still present.

[2020-10-22 09:07] illuusio opened #310 "Build sign key"
This can be just me but I can't find easily a build key to verify supplied .asc-file (which is very nice  to provide by the way!)
This should be in README.md or somewhere easily enough available.

[2020-10-22 10:32] infraweavers commented on #301
If it's the same problem @illuusio it will still be there. We've worked around it by removing the timeout handling from one of our gearman workers; that _seems_ to have helped massively for us. Is your use case reproducible?

[2020-10-22 11:00] illuusio commented on #301
@infraweavers I can try to make it. It hangs when client just drop randomly. I test it more to get reproducible example.

[2020-10-22 11:23] illuusio commented on #301
@infraweavers This was new way to do it (just found it). Just supply missing RPC function and it hangs. I have to check if this is false-positive as I assume.

[2020-10-23 06:38] esabol commented on #301
Do you mean 1.1.18 and 1.1.19.1?

Maybe I don’t have enough information, but it doesn’t seem the same to me. This issue is clearly related to jobs that timeout. If you’re experiencing a hang and it doesn’t involve a task with a specified timeout, then I think it’s a separate issue.

[2020-10-23 08:53] illuusio commented on #301
@esabol I got Gearmand to freeze on 1.1.8 I got to test 1.1.19.1 more to have glue if it's doing the same. I have hunch it't something to-do with bidirectional transfer when worker is sending back to client information about state. I try to make test on this next week to prove it or false this..

[2020-10-23 15:49] esabol commented on #301
That’s possible. A long time ago, when I was looking into some SSL errors, I had the suspicion that gearmand needed to have exclusive pthreads locks whenever sending and receiving.

[2020-10-31 15:41] SpamapS commented on #310
My key is all over the place.. https://fewbar.com/clint-byrum-public-key/ and signed by many reputable keys.

[2020-10-31 17:44] SpamapS commented on #301
The issue reproduces with --threads=1, so I'm leaning more to @p-alik 's theory of double-free than thread unsafety.

[2020-11-01 05:09] esabol commented on #310
I think it’s a reasonable request to add that link to the README.md. I’ll take care of that.

[2020-11-01 05:24] esabol commented on #301
Agreed. My previous comment pertained to @illuusio’s issue, which as I wrote previously, sounded like a different thing.

[2020-11-01 19:34] SpamapS commented on #310
That's kind of pointless but I won't fight it.

If you trust the Readme you trust the asc file, as they're both verified by
the same method: GitHub.

On Sat, Oct 31, 2020, 10:10 PM Ed Sabol <notifications@github.com> wrote:

[2020-11-02 02:08] #310 closed

[2020-11-02 07:08] illuusio commented on #310
@SpamapS  Actually As a fle.. link does not work.. no big deal as I can copy'n'paste but just my few cents and thanks for adding @esabol it makes some other package maintener work easier.

[2020-11-02 08:07] infraweavers commented on #301
FWIW: From our investigations we've not seen anything occur which is asynchronous _within_ gearmand, however given that it doesn't happen _every_ time, we think it's still a "concurrent" problem, but based on when things happen (i.e. timeouts, retries, reconnection, connection close etc) outside of gearmand rather than within, which causes the problem.

[2020-11-02 09:46] SpamapS commented on #310
Right.. but to be clear, it's not easy, because you should be verifying the
signing key *by multiple vectors*. Currently you are 100% dependent on
GitHub for that. It's a relatively safe bet, but I went through the trouble
of getting my key signed so you could use the distributed web of trust. :)

On Sun, Nov 1, 2020 at 11:08 PM Tuukka Pasanen <notifications@github.com>
wrote:

[2020-11-02 09:49] SpamapS commented on #301
Thanks for the update. I still believe quite strongly that it is a
race condition that is simply triggered by the way your workers and
clients interact with Gearman.

Hopefully somebody with some time and context on the problem will
figure it out. :-P

On Mon, Nov 2, 2020 at 12:08 AM A Codeweavers Infrastructure Bod
<notifications@github.com> wrote:

[2020-11-08 21:10] passcod opened #312 "Gearman server crashes if a WORK_EXCEPTION is delivered after a WORK_COMPLETE"
Gearmand 1.1.18

I can reproduce and provide logs but am away at the moment, filing from memory.

If you grab a job, then issue a `WORK_COMPLETE`, and _then_ issue a `WORK_EXCEPTION` and `WORK_FAIL`, the entire server crashes.

Really, this is then a worker bug, as that sequence of events shouldn't happen, but it seems unfortunate that one misbehaving worker can crash the server.

[2020-11-09 01:35] esabol commented on #312
I agree that that shouldn't crash the server. A worker which does that would be helpful in fixing the problem.

[2020-11-09 01:36] passcod commented on #312
Any particular language/binding is easiest for you? I discovered this using abraxas (node js) but I can do whatever.

[2020-11-09 01:41] esabol commented on #312
Well, it would probably be best if it could ultimately end up in the test suite, so C or C++? Maybe there's a test in the test suite that you could adapt? If so, that would be amazing!

[2020-11-09 01:49] passcod commented on #312
Okay, I'll have a go

[2020-11-09 19:16] esabol commented on #279
Merged commit addresses this issue, so I’m going to close this.

[2020-11-09 19:16] #279 closed

[2020-12-02 23:00] Tyrael commented on #63
now that #257 is in this should be closed, right?

[2020-12-03 16:47] esabol commented on #63
Right. Closing....

[2020-12-03 16:47] #63 closed

[2020-12-09 08:11] passcod commented on #312
Okay, correction, it's a `WORK_EXCEPTION` after a `WORK_COMPLETE`. Repro incoming

[2020-12-09 08:19] passcod commented on #312
Okay, I tried to write C but gave up. Instead, I wrote _bash_. Hopefully it's relatively portable bash (so long as you have `hexdump` and bash >= 5):

<details>
<summary><code>gearcrash.sh</code></summary>

[code]

</details>

<details>
<summary>Output from running it</summary>

[code]

</details>

<details>
<summary>Output from gearmand</summary>

[code]

</details>

[2020-12-09 10:45] esabol commented on #312
@passcod: I just noticed that you mentioned you were using gearmand 1.1.18. Have you tried to reproduce this with 1.1.19.1? If not, could you try? Because I think this issue might have been fixed already in PR #183.

[2020-12-09 10:53] #274 closed

[2020-12-09 11:02] esabol commented on #148
Can this issue be closed? It seems to have been resolved, right?

[2020-12-09 12:08] passcod commented on #312
Ah, you're right, it _is_ fixed. I'll go pester packagers for updates instead ;)

[2020-12-09 12:08] #312 closed

[2020-12-09 12:40] cetanu commented on #148
Indeed!

[2020-12-09 12:40] #148 closed

[2020-12-09 18:01] esabol commented on #299
Since my last post in this issue is August, http://www.gearman.info/ now goes nowhere at all.

[2020-12-09 18:02] BrianAker commented on #299
http://gearman.info

I am not sure if www ever worked.

乌

[2020-12-09 18:07] esabol commented on #299
I’m pretty sure it did in August. Also, https://web.archive.org/web/*/http://www.gearman.info/ shows a snapshot on October 30th which worked.

[2020-12-09 18:19] BrianAker commented on #299
I had Gandi.net add a redirect, so at some point as that propagates it should work.

Hopefully, www.gearman.info was never used in the documents.  ( I tend to personally dislike using “www”, but I have probably never been entirely consistent )

乌

[2020-12-14 10:58] jordancox1234 opened #314 "No way for client to see if there are any registered workers for function"
I need a client to see if there are any workers for a function before it submits the job to the server.

[2020-12-14 18:57] esabol commented on #314
`status` does this, doesn’t it? Have you looked at that?

[2020-12-15 01:51] SpamapS commented on #314
status is something that will work for this, but it's not to be done
lightly.. in order to enumerate and count the hash tables, gearmand must
lock them. We could definitely make it more scalable, but by and large,
it's not something you want *all* of your clients doing. Also if you have
multiple gearmand's, you're going to need to either select one by hash of
unique, or poll them all. It's just no

[2020-12-17 17:54] dirtyren commented on #241
Hello,
what I have found out that makes doBackground hangs is the fact that PHP running on console wont disconnect from gearmand. Eventually gearmand can no longer accept connections.
   I've tried unset or make the object = NULL, it does not matter. It seems, PHP wont call the gearman client destructor that should clean up things. This does not happen when running inside apache, as apache will ma

[2020-12-24 03:43] esabol commented on #241
So the PHP client doesn't disconnect even after the server returns the job result? That sounds like a bug in the PHP library to me. I don't think we've seen that with the Gearman Perl library.

The main issue when talking about the PHP Gearman library is which one? There have been multiple implementations and multiple maintainers, most of whom have stopped maintaining, AFAIK. Honestly, I don't eve

[2021-01-01 20:51] tsmgeek commented on #314
We used this project to get a status list of all the current registered functions.
We only use it for monitoring so not sure of the performance if you were to poll it all the time.

One idea you could do is have your workers have a background interval/timer that keeps updating a flag in memcached/redis etc with timeout ie X seconds (longer than the time you expect your task to run), then while its

[2021-01-31 20:34] esabol commented on #314
The OP hasn’t responded. Since there is a way to do what they are asking, I’m going to close this issue.

[2021-01-31 20:34] #314 closed

[2021-06-11 18:04] esabol commented on #150
That sounds like a good solution, @maxwbot. Are you also on CentOS 6?

[2021-06-16 07:54] hgfdd opened #315 "Monitoring watchdog for gearman"
Hello!

My gearmand (1.1.15) sometimes freezes and i want to monitore such cases and restart it. I have made a systemd service with watchdog, that starts gearmand and watchdog bash script, that every N seconds call ```gearadmin --status``` and send signal to systemd. That all ok, but my gearmand use a persistent storage and sometimes it weights 20-30Gb and gearmand need time to read data and initi

[2021-06-16 19:52] esabol commented on #315
Well, 1.1.15 is a very old version. The latest release is version is 1.1.19.1. I suggest looking into upgrading.

That said, I doubt there's been any significant improvements to the persistent storage options. While not officially deprecated, active development on that feature tailed off and is in maintenance mode. The consensus best practice instead is to implement persistent storage as tasks tha

[2021-06-28 08:55] anderslauri commented on #315
@esabol

Apologize for interrupting this thread (he he). Do you have a reference (documentation, code what not) to this `ping task` and what it actually validates within the daemon? I am currently at a location when `germand status` is being used as a health check and a suitable replacement would be great to identify.

[2021-06-28 20:40] esabol commented on #315
@anderslauri asked:

It's just a task that returns the string "pong". I believe I said that. If you already have workers who have registered other tasks with gearmand, it couldn't be more trivial to implement. It's basically just like the [reverse string example](http://gearman.org/examples/reverse/), but it's even simpler. If the task doesn't return "pong", the healthcheck fails and Docker will r

[2021-06-30 07:01] anderslauri commented on #315
@esabol

That is great, thank you.

[2021-08-21 22:54] tsmgeek opened #316 "GEARMAN_TEXT error in gearman_worker_grab_job"
I am seeing these random messages appear in my CLI script which seem to point back to libgearman.
I know that current EPEL version of libgearman is much older than is on git.
Is this an issue that has been fixed since or some other bug?
Ive looked at the PROTOCOL text file and it does not mention GEARMAN_TEXT command, I can see there is (unused) where I think it would be.
What sort of messages are

[2021-08-21 23:13] tsmgeek opened #317 "MAN file for gearadmin missing commands"
https://github.com/gearman/gearmand/blob/master/docs/source/bin/gearadmin.rst

Following commands are missing from MAN file but in binary.
[code]

[2021-08-21 23:20] tsmgeek opened #318 "gearadmin - prioritystatus missing total running column"
https://github.com/gearman/gearmand/issues/53

Might have been an oversight when this was implemented but the total running column that would be available under the `status` command was not added requiring an additional call to get that data then merge to two results.

[2021-08-22 02:10] esabol commented on #318
It's not missing. It's returning what it is documented to return. It might be sub-optimal, of course.

It would probably be easier to add a new command than it would be to change what an existing command returns. That could break backwards compatibility with existing software.

[2021-08-22 02:25] esabol commented on #316
We'll, I haven't seen it, and I'm using a semi-recent libgearman that I compiled from the GitHub repo here. However, I'm also using a PHP extension that I modified and compiled myself from https://github.com/esabol/pecl-gearman7. :shrug:

[2021-08-22 02:36] esabol commented on #282
I think this was fixed by the 1.1.19.1 release (which reverted the m4 files)? Can I close this?

[2021-08-22 11:18] tsmgeek commented on #316
@esabol  https://github.com/php/pecl-networking-gearman this is the main repo used for the official PECL version that I use.

Looking back though logs it does seem to be very random, by that it happened once for the last few days then nothing for several days before that.

Its only a warning and so I can suppress the output but might be an idea to understand if its a problem or something that shou

[2021-08-22 16:56] esabol commented on #316
Well, the only way to tell would be to compile your own libgearman and probably your own PHP extension and see if you can reproduce it. The libgearman you are using is 7.5 years old, and there has been 8 releases since then.

[2021-08-23 11:26] tsmgeek opened #319 "Order of task processing"
I am reading that order that jobs are dequeued for processing is the order they are submitted to server (single priority).

Does this also apply to tasks which are run in parallel across multiple workers?

I am queuing lots of Tasks and waiting for them to finish but they always process in reverse to which they were added.

I know that there will be slightly different order based on processing tim

[2021-08-23 21:27] esabol commented on #319
What version of gearmand are you using?

What do you get if you only have one worker?

I think that's unlikely, but you could try submitting the jobs using something other than PHP to eliminate that as a possibility.

[2021-08-23 22:04] tsmgeek commented on #319
gearmand 1.1.18-161-ga95d1c1
php-pecl-gearman 2.1.0

Im one version back for gearman, without a changelog its not clear of actual fixes, I would be surprised this has not been an issue affecting anyone else before so im hoping its a PECL issue.

Ile write up a python client test script to rule out PECL being the issue.

[2021-08-24 01:05] tsmgeek commented on #232
I seem to be getting this problem as well, I have had the same issue for years but have just restarted nodes as needed, server does not seem to need restarting.

For the most part it seems to happen after periods of high persistent load, sometimes it just clears itself up other times I have to restart the offending workers to clear it.

The high CPU is also accompanied with high network load betwe

[2021-08-24 04:34] SpamapS commented on #319
On Mon, Aug 23, 2021, 4:26 AM Ricardo ***@***.***> wrote:

If you only ever use one priority, it's a FIFO, yes. But they're not
dequeued until they are marked complete by the worker. So what you mean is,
they are assigned in FIFO order.

Does this also apply to tasks which are run in parallel across multiple

I am queuing lots of Tasks and waiting for them to finish but they always

"Jobs" are FIF

[2021-08-24 10:00] tsmgeek commented on #319
Ive checked and using a single client/worker the processing is exactly in the reverse order to which it was added to tasls.

@SpamapS I do not want the order to be perfect but at least be roughly in the same order to which I added them, give or take.
What you are pointing to is that the PECL library is posting them to GM in reverse order, so I should post this issue on the PECL side?

[2021-08-24 10:41] esabol commented on #319
I think what @SpamapS is saying is that the order that jobs are assigned to workers is FIFO, but the order that the job results are returned to the client is unspecified and not guaranteed. You should not rely on that order being consistent.

Regardless, opening an issue with php/pecl-networking-gearmand seems premature, imho.

Here's what I would do:

1. Kill all the workers.
2. Have a client sub

[2021-08-24 10:53] esabol commented on #317
PRs welcome!

[2021-08-25 07:11] p-alik commented on #282
I don't think so and I couldn't find any related commit.

[2021-09-03 04:48] forestuser opened #320 "Kubernetes"
Hello. When creating a pod + service, gearmand stops working.

LOG
INFO 2021-09-03 04:46:16.396362 [  main ] Initializing Gear on port tcp://10.101.82.102:4730 with SSL: false
INFO 2021-09-03 04:46:16.000000 [  main ] Starting up with pid 1, verbose is set to INFO
ERROR 2021-09-03 04:46:16.000000 [  main ] 0.0.0.0:tcp://10.101.82.102:4730 getaddrinfo(Unrecognized service) -> libgearman-server/gear

[2021-09-03 07:09] esabol commented on #320
Please provide more information, like the gearmand version and arguments used to startup gearmand.

Could this Kubernetes issue be causing your problem? https://github.com/kubernetes/kubernetes/issues/98117

[2021-09-03 09:08] forestuser commented on #320
containers:
      - name: gearmand
        image: artefactual/gearmand:latest
        args:
        - --listen=0.0.0.0
        - --port=4730
        ports:
        - containerPort: 4730

[2021-09-03 10:53] forestuser commented on #320
1. If you deploy the pod, and deploy the service after germand initialization. Then germand works.

2. If you deploy pod and service together, an error occurs and gearmand goes into shutdown.
INFO 2021-09-03 04:46:16.396362 [ main ] Initializing Gear on port tcp://10.101.82.102:4730 with SSL: false
INFO 2021-09-03 04:46:16.000000 [ main ] Starting up with pid 1, verbose is set to INFO
ERROR 2021-0

[2021-09-04 04:16] esabol commented on #320
We don't maintain the artefactual/gearmand container, and you still haven't specified the gearmand version number being used. And you didn't answer my question about the Kubernetes issue. All I can say is that gearmand 1.1.19.1 works just fine in my Docker containers.

[2021-09-04 05:08] esabol opened #321 "Should the '||' on libtest/cmdline.cc:207 be '&&'?"
Just wondering if anyone else thinks this is a typo (see line 207)?

https://github.com/gearman/gearmand/blob/dd9ac59a730f816e0dc5f27f98fdc06a08cc4c22/libtest/cmdline.cc#L207-L210

I noticed this patch for compiling gearmand on alpine:3.9 and wondered if it's correct:

https://github.com/artefactual-labs/docker-gearmand/blob/6e3d05f69f7653682cfdcf5bbb9fbb57b4c335f8/1.1.18/patches/libtest-cmdline.c

[2021-09-04 05:12] esabol commented on #320
See also these issues:

https://github.com/kubernetes/kubernetes/issues/76790
https://github.com/alpinelinux/docker-alpine/issues/149

[2021-09-04 05:34] esabol commented on #321
Interestingly, [this patch for libmemcached](https://git.alpinelinux.org/aports/tree/main/libmemcached/musl-fixes.patch) changes the line to
[code]
instead. I think that's the better way to go. What do you think?

[2021-09-04 06:27] esabol commented on #321
I think it's kind of a moot point since musl (what Alpine uses instead of glibc) has defined `POSIX_SPAWN_USEVFORK` since 2017. Note that I was able to successfully bootstrap, build, and test gearmand on alpine:latest in PR #296 without this patch, so I guess this only applies to older versions of Alpine. But it's probably worth fixing anyway in case someone wants to do that?

https://git.musl-lib

[2021-09-06 09:09] forestuser commented on #320
Gearmand version 1.1.19.1. None of the kubernetes problems is suitable. I am entering into correspondence with the creators of the artefactual/gearmand image. I will inform you about the result.

[2021-09-06 14:14] esabol commented on #320
Why do you say that? The first two give the exact same error message, and the third describes the same problem you've described.

[2021-09-07 08:15] forestuser commented on #320
_You're sure? Because one of your previous messages said you were using artefactual/gearmand:latest, and Docker Hub says that's 1.1.18. https://hub.docker.com/r/artefactual/gearmand/_

docker-compose exec gearmand gearmand -V
gearmand 1.1.19.1 - https://github.com/gearman/gearmand/issues

cat docker-compose.yml | grep gearmand
  gearmand:
    image: artefactual/gearmand

[2021-09-07 08:18] forestuser commented on #320
_Why do you say that? The first two give the exact same error message you are experiencing ("getaddrinfo(Unrecognized service)"), and the third describes the same problem you've described (DNS failure immediately after pod creation when using an Alpine-based Docker image)._

I'm not sure exactly, but I'll assume that the problem is in the network interaction of kubernet and gearmand, unfortunately

[2021-09-07 08:22] forestuser commented on #320
Now I use the following assembly in kubernet and it works

containers:
- name: gearmand
  image: clever/gearmand:dabf561

root@gearmand-57b766648d-l4rts:/# gearmand -V
gearmand 1.0.6 - https://bugs.launchpad.net/gearmand

Perhaps, as you wrote above, the problem is in the container. But my analysis and my level have not yet allowed me to see the malfunction.

[2021-09-09 09:26] esabol commented on #320
Well, they sure seem like they fit your case to me... like exactly. Your problem is in the network interaction between Kubernetes and Alpine, not gearmand. The artefactual image just happens to be based on Alpine.

I don't recommend using clever/gearmand. It's very old.

Why don't you build your own Docker image? If you base it on Ubuntu instead of Alpine, I bet it would work fine.

[2021-09-14 06:29] forestuser commented on #320
FROM Fedora:34
kubectl logs pod/gearmand-6d99465d86-8gxt2 -n tf
   INFO 2021-09-14 04:35:44.015296 [  main ] Initializing Gear on port tcp://10.109.183.242:4730 with SSL: false
   INFO 2021-09-14 04:35:44.000000 [  main ] Starting up with pid 9, verbose is set to INFO
  ERROR 2021-09-14 04:35:44.000000 [  main ] 0.0.0.0:tcp://10.109.183.242:4730 getaddrinfo(Servname not supported for ai_socktype)

[2021-09-14 06:48] forestuser commented on #320
I collected 2 different images, Fedora, Ubuntu. Both work in docker, but they end with errors in kubernetes.
What could I have missed?

FROM Fedora:34
kubectl logs pod/gearmand-6d99465d86-8gxt2
   INFO 2021-09-14 04:35:44.015296 [  main ] Initializing Gear on port tcp://10.109.183.242:4730 with SSL: false
   INFO 2021-09-14 04:35:44.000000 [  main ] Starting up with pid 9, verbose is set to INFO

[2021-09-14 19:07] esabol commented on #320
What could I have missed?

I don't know. Please post your Ubuntu Dockerfile in its entirety here.

[2021-09-14 19:10] esabol commented on #320
Also, if the Docker image works in Docker but not Kubernetes, have you considered that the problem might be with Kubernetes? That would seem logical to me.

[2021-09-14 19:14] esabol commented on #320
Also, check out this article:

https://tech.findmypast.com/k8s-dns-lookup/

[2021-09-15 04:11] forestuser commented on #320
ARG USER_ID=101
ARG GROUP_ID=101

FROM ubuntu:20.04

RUN apt-get update -y

ARG USER_ID
ARG GROUP_ID
RUN echo "user: ${USER_ID}, grp: ${GROUP_ID}" && groupadd -g ${GROUP_ID} gearman \
    && useradd -l -u ${USER_ID} -g gearman gearman \
    && echo "gearman:gearman" | chpasswd \
    && echo '%gearman ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers

RUN apt-get install -y gearman-job-server

COPY --chown=g

[2021-09-15 04:12] forestuser commented on #320
**Entrypoint**
#!/bin/bash
gearmand

**gearmand.conf**
--listen=0.0.0.0
--port=4730
--log-file=stderr
--verbose=INFO
--queue-type=builtin
--threads=4
--backlog=32
--job-retries=0
--worker-wakeup=0

[2021-09-15 04:21] forestuser commented on #320
My DNS works well, there are no errors or warnings in the logs.

[2021-09-15 07:42] esabol commented on #320
Huh? Every single log file you've posted has indicated a DNS error. That's what those getaddrinfo errors are.

Try getting rid of the `--listen=0.0.0.0` line in your `gearmand.conf` file. You shouldn't need that. Actually, I'd get rid of everything except ` - - p o r t `, `- - v e r b o s e `, and `--log-file`. Trust gearmand's defaults for the rest.

[2021-09-22 15:24] tsmgeek commented on #319
I added output results to PECL ticket I created.
It shows that the order of tasks (in a batch using runTasks) processed is always in reverse to which they were added.
Ie if I add three tasks (1,2,3,4,5,6) then call runTasks, they will be run on the workers in the order (6,5,4,3,2,1), if I add multiple workers the order is still reversed but you can see the order change (6,4,5,2,3,1) which varies w

[2021-09-22 15:58] esabol commented on #319
I don’t think it was clear from your initial description that you were submitting a batch of multiple tasks from a _single_ client in one fell swoop. That’s not a typical Gearman use-case, I think. I think the typical use-case is having multiple clients submitting multiple jobs to the job server one job at a time.

Possible workaround: Try submitting the jobs from the client (one at a time) as **b

[2021-09-23 10:18] tsmgeek commented on #319
The test is from a single client but in production this process can happen by multiple clients at the same time, but I am really only concerned about it when looking at a single client as what they do does not cross with other clients.

PECL claims that they are just using `gearman_client_add_task / gearman_client_run_tasks` directly and no queueing within the library itself, so that is pushing th

[2021-09-23 18:16] esabol commented on #319
Yeah, it's more complicated and will take more PHP code, but I'm fairly sure it would work the way you want and it would be the most expedient solution, entirely within your control.

The other option is to just call `runTasks()` immediately after adding each task, of course, but I take it you don't want to do that for some reason.

[2021-09-23 20:17] SpamapS commented on #319
On Wed, Sep 22, 2021, 8:24 AM Ricardo ***@***.***> wrote:

I'm sorry this isn't clear from the docs, but the entire point of gearman,
*especially the task system*, is having multiple workers.

If you are not using multiple workers, you are basically wasting your time
with gearman and you should just use zeromq or grpc or a rest API and just
send requests directly to the server.

The point of tasks

[2021-09-23 20:31] tsmgeek commented on #319
Ive been using it for nearly 10 years, I know how the workers/clients model works, we have a system with hundred workers doing image/video processing, various file transfer jobs and other background tasks.

I do not have a hard order dependence on order, just it would be nice that when submitting 100 tasks as a batch that they come back in some sort of order, sure if I have 100 workers then the or

[2021-09-23 21:57] SpamapS commented on #319
On Thu, Sep 23, 2021 at 1:31 PM Ricardo ***@***.***> wrote:

Wonderful, thanks for using Gearman. :)

I appreciate that, but can you maybe give us an objective target rather
than "it would be nice"? The task system has been architected in a very
particular way, and adding ordering requirements would make it even more
complex. When you add a task, gearman looks through the server list, and
picks a

[2021-09-24 16:49] stccorp opened #322 "Segmentation fault (core dumped) on php 7.4.3"
Hello,

I was working on moving from Ubuntu 18 to Ubuntu 20.  By default I am getting php 7.4.3 instead of  7.4.24 on ubuntu 20
Funny thing is that at this point in time 7.4.3 is not even on their website.  In any case,  I always run the gearman demo client to reverse a string.  On this new 7.4.3 I am getting a Segmentation fault (core dumped) on php 7.4.3.

I am using libgearman version => 1.1.19

[2021-09-24 17:14] stccorp commented on #322
It was solved by adding  this repository as someone here suggested in another thread

add-apt-repository ppa:ondrej/php -y && \
    apt-get update && \
    apt-get install -y -q php-gearman

[2021-09-24 18:38] esabol commented on #322
Well, I'm glad you were able to fix it. Cool.

I think you posted to the wrong GitHub repo though? I think you wanted https://github.com/php/pecl-networking-gearman/ for PHP issues.

[2021-09-24 18:38] #322 closed

[2021-09-29 22:07] Firehed commented on #320
I've experienced this issue before; the root cause is that K8S auto-injects a `{SERVICENAME}_PORT={proto}://{addr}:{port}` environment variable. If you've created a service named `gearmand` in the same namespace (likely), then the pods have something like `GEARMAND_PORT=tcp://10.0.0.1:4370` set automatically as an environment variable. The gearmand application reads this, doesn't get an integer in

[2021-09-29 22:58] SpamapS commented on #320
Oh that's quite an annoying coincidence. I suppose we should document this
somehow beyond this issue.

On Wed, Sep 29, 2021 at 3:07 PM Eric Stern ***@***.***> wrote:

[2021-10-04 16:36] esabol opened #323 "Rename HACKING file to CONTRIBUTING.md ?"
Any objection to renaming `HACKING` to `CONTRIBUTING.md`? The latter seems to be the standard name for such a file these days.

Any suggestions for improvements to make to this file while I'm at it?

[2021-10-04 17:06] KanishkKhurana commented on #323
please assign this to me , @esabol i'd love to contribute to your project and solve this issue

[2021-10-04 17:06] KanishkKhurana commented on #323
i'll add some improvements related to code of conduct and good/bad practices

[2021-10-04 19:03] esabol commented on #323
@KanishkKhurana : Thank you for offering! Done.

[2021-11-11 11:52] gfto commented on #232
See this strace which demonstrates the problem: https://gist.github.com/gfto/474c25c3585fa20f24f0f95b9afa8120

The issue is that the client starts looping (the poll() is being interrupted) if it does not receive the answers to the two packets that it always sends in single response packet:

It goes like this - the client always sends:
[code]

the it goes to sleep:
[code]

once it's woken up by the

[2021-11-11 12:16] gfto commented on #232
The following fixes the issue for good:
[code]

[2021-11-11 13:25] tsmgeek commented on #232
@gfto  why does it only receive one response, does that not also indicate an issue on the server side sending the message, as its TCP we should not be seeing a loss of these messages ide have thought?

[2021-11-11 21:21] esabol commented on #232
@gfto wrote:

You mean the worker, not the client, right? Using client and worker interchangeably was confusing me for a few seconds there. 😄

It's not clear to me why sending a NOOP to a worker who has just sent a PRE_SLEEP message would cause a problem. Why do you think it's freaking out?

[2021-11-12 03:07] SpamapS commented on #232
@tsmgeek seems to have also found that there's some connection between worker interactions and the server. I wonder if it's as simple as a worker and server sort of getting into a game of "give me a job, I'll sleep till you do" and then the server saying "Nope, no jobs" is misconstrued by the client to mean "I should send another GRAB JOB and the loop just goes on forever.

@gfto seems to have a f

[2021-11-12 06:34] gfto commented on #232
The client does receive all the responses but in different network packets. The second one triggers wake-up and then the client asks the server again and this leads to the issue at hand.

I guess the server receives the first packet and responds then receives the second one and responds.

Sometimes the server receives the two packets and processes them responding with a single packet that contains

[2021-11-12 06:49] gfto commented on #232
It's exactly that, unfortunately. I've tried to fix the client and the server state machines but the way they're coded makes it pretty hard. I've stared at the code for several days and still can not understand it :/ See for example https://github.com/gearman/gearmand/blob/master/libgearman/worker.cc#L768 (simplified bellow):
[code]
or this https://github.com/gearman/gearmand/blob/master/libgearma

[2021-11-12 07:09] gfto commented on #232
By "client" I mean the worker (the one that calls gearman_worker_work() function). In my setup I have one worker per gearmand client that's why I'm using client interchangeably with worker.

Because it interrupts the poll() used for sleeping in the client (the PRE_SLEEP phase).

Once the poll() it's interrupted (because there is data in the socket) the client/worker send again "GRAB_JOB/PRE_SLEEP"

[2021-11-12 15:02] SpamapS commented on #232
@gfto is there any way you can try out https://github.com/SpamapS/rustygear in your QA scenario? It's not 100% functionally equivalent to gearmand.. but if it can be slotted in.. it might tell us something. Or if you can contribute a test case (can just be a documentation file) that shows us how to reproduce, I can try that.

I'm with you that the state machine is really hard to read and debug. I

[2021-11-13 01:17] esabol commented on #232
OK, but is there any downside to removing that code? If I'm reading the code correctly, the intention here is to inform the worker that it shouldn't sleep because there are jobs waiting. So what happens if the server doesn't do that? The worker goes to sleep, right? And the job sits in the queue potentially longer until a worker (probably a different worker) grabs it. So this might increase job la

[2021-11-13 03:31] SpamapS commented on #232
I agree, @esabol that it doesn't make sense to leave the worker asleep if there are jobs. The whole point of PRE_SLEEP is basically to let the server know that it needs waking up if there are jobs.

One thing is that this may also be an accident of the protocol. There's not a lot of flow control in this multiplexed protocol, and it's possible that when gearman's protocol was designed, the slowness

[2021-11-13 22:23] SpamapS commented on #232
So I think we need the bigger picture. If new jobs stop flowing into the offending function name, does the effect continue?

I ask because the only way that peek will return a job, is if there is a job available to assign to that specific worker. Now, if multiple GRAB_JOB's arrive while that NOOP is being handled by the client, there may not be a job anymore when the GRAB_JOB fires. But that shoul

[2021-11-15 08:35] gfto commented on #232
I'm running gearmand using:
[code]

To solve the issue reported here I ended up applying the following patch: https://georgi.unixsol.org/programs/gearmand-cpu-spinning.patch

In my testing this reduced the CPU usage after multple OOM in the VM in the workers and gearmand at least 10 times. I know that adding usleep() is a nasty hack but in this case it works.

Here is what the process is consuming

[2021-11-15 09:45] tsmgeek commented on #232
This is the command my server is running with.
`gearmand -d --log-file none --syslog --job-retries=0 --round-robin --file-descriptors 4096 --http-port=4731 --keepalive --keepalive-idle=30 --keepalive-interval=10 --keepalive-count=6`

[2021-11-16 05:10] SpamapS commented on #232
Neither of you mentioned whether or not these particular functions have new jobs constantly coming in or not. If there aren't, it doesn't make sense that the NOOP is coming out consistently, and it makes me think that there's a bug in the _peek function.

Anyway, absent a _peek bug, I see clients behaving weirdly like this:
client -> GRAB_JOB
server -> NOOP /* From some previous interaction, cause

[2021-11-16 05:53] SpamapS commented on #232
On second thought don't try that patch, it makes clients lock up. Damn. I'll keep looking for this answer though.

[2021-11-16 14:34] SpamapS commented on #232
Ok I'll be honest here, debugging this is beyond unfun. If any of you can figure out how to do it without crippling gearmand or the clients (usleeps and removing NOOP-on-job-available are both crippling to workloads IMO) I'll be forever thankful.

However, a few years back I set out to rewrite gearmand in Rust precisely because this weird mixed bag of C and C++ in gearmand is just impossibly compl

[2021-12-01 14:00] Nibbels commented on #196
We had a working gearman setup with 1.1.18 running.
We use PHP https://github.com/brianlmoon/GearmanManager + /net_gearman
The configuration .ini inherited this line:

Then the version was increased to 1.1.19 because the system got patched by an admin. Afterwards most of the workers did still run successfully, but ...

If the work of a worker took longer than 1 second the client did read "work_fai

[2021-12-01 16:33] SpamapS commented on #196
I will take a look at the code later today but if we did that it is a
regression and we need to revert and release a fix. Thanks for reporting,
sorry for the trouble.

On Wed, Dec 1, 2021, 6:00 AM Stefan Bek ***@***.***> wrote:

[2021-12-01 17:21] esabol commented on #196
The units for the timeout value were never documented or specified, so it can't be a regression, @SpamapS. The change was intentional and made after a long discussion period seeking input and was approved by both you and p-alik.

[2021-12-01 18:48] SpamapS commented on #196
My memory of the last 2 years is challenged by multiple work/life balance
traumas. I'll take your word for it. Ugh.

On Wed, Dec 1, 2021, 9:21 AM Ed Sabol ***@***.***> wrote:

[2021-12-01 20:18] brianlmoon commented on #196
While it should not be a regression, I would have expected a minor point release. Seems like this kind of change should have gone into 1.2.x and not in the 1.1.x release series. It is BC breaking.

[2021-12-01 23:49] esabol commented on #196
@brianlmoon: If you read the original issue at the top of this page, timeouts didn't work at all prior to this change. This was a bug fix. Workers *always* waited at least 1000 seconds before timing out because the code that set the timeout was wrong, regardless of whether the value as provided was considered to be seconds or milliseconds. In addition to @bmeynell who reported the issue, I tested

[2021-12-04 22:04] SpamapS commented on #196
Sorry @esabol I had forgotten that whole saga. :) Indeed, I think bumping beyond patch level might have been a good idea given that those numbers were being ignored and had been documented ambiguously, and we made some opinionated decisions about what they meant.

But what's done is done, and changing it now would likely do as much harm as we already did. Sorry for the trouble @Nibbels, and it's g

[2021-12-24 19:48] #321 closed

[2022-03-28 22:50] ant-SR commented on #232
Unfortunately i'm finding myself in a similar situation to this...

High load on the instances running the daemon and workers.
Load is reduced when workers are running on another instances but network traffic goes through the roof because of the repeated calls for work. Load goes away when workers are killed off.

Setup:

3x gearmand ( currently 1.1.18 ) sat behind 1 GCP load balancer
Redis persis

[2022-03-29 22:28] esabol commented on #232
You're not using the CPAN module, Gearman::Worker? That's surprising to me. How did you implement a Perl worker using libgearman? I've never heard of anyone doing that.

Well, I implemented my workers using Gearman::Worker. If you did the same, that would eliminate the segfault since it's pure Perl.

https://metacpan.org/pod/Gearman::Worker

[2022-03-30 00:11] ant-SR commented on #232
From what I can see its plumbed in via Gearman::XS and Gearman::mesh which appears to be hooking the libgearman stuff

I'm not a writer of perl stuff so apologies if my answers in that area aren't on target

We've been running further tests today and there's no change in the behaviour when 1.1.19 is used

The only time there's been difference is when we switched up from 2 core AMD Milan to 8 core

[2022-03-30 04:37] SpamapS commented on #232
More and more I'm convinced that this is a really hard timing problem
caused in part by the higher speed and lower latency of modern networks.
Gearman was originally designed when AMD Athlons and P4's were running on
100Mbit physical networks. I wonder if we should add some kind of governor
on the rate of NOOPs we'll send to any worker.

On Tue, Mar 29, 2022 at 5:11 PM ant ***@***.***> wrote:

[2022-04-21 01:10] jayhooly commented on #28
Trying to log into SIPhone Biz for work,
I keep getting this message,
'siphone_biz error:00000005:lib(0):func(0):dh lib'
anyone know what this is?

[2022-04-21 05:18] esabol commented on #28
This repo doesn't have anything to do with "SIPhone Biz", but it's basically an error message from the OpenSSL library used by the software.

[2022-04-26 18:50] esabol commented on #232
@gfto wrote:

Should we consider merging this patch? It's not an optimal solution, but, if it prevents the gearmand server from freaking out, maybe it's better than nothing.

[2022-04-27 06:27] gfto commented on #232
The patch solves the issue, so in absence of a better fix I guess it's better to be merged.

[2022-05-12 13:27] octavn commented on #319
I agree with the original poster in that the jobs should be assigned to workers in the general order that they came in. And that's what we see (FIFO behavior) with background jobs on Gearman 1.1.18 .

This _order_ makes more sense when you have long queues that need hours of worker time to process. Here's our story:

We use Gearman to process tens of thousands of recordings per day, but one day we

[2022-05-16 13:24] octavn opened #335 "Confusing: --show-unique-jobs explainer in gearadmin --help"
From the `gearadmin --help` output one might get the impression that gearman does not deduplicate jobs and that it holds internally a number of jobs that could be greater than the number of unique jobs (all-duplicate=unique):

[code]

The `gearadmin --show-unique-jobs` command [collects the unique jobs information from the `show unique jobs` command](https://github.com/gearman/gearmand/blob/master

[2022-05-16 21:36] esabol commented on #335
I concur and have submitted PR #336 to address this issue.

[2022-05-25 17:56] esabol commented on #299
@BrianAker : This is still not fixed. http://www.gearman.net/ and http://gearman.net/ both still show libmemcached's website instead of gearman's.

http://www.gearman.info/ and http://gearman.info/ still don't work at all, and they used to work. If that's intentional, cool. But http://www.gearman.net/ and http://gearman.net/ showing the wrong website clearly is not intentional.

[2022-05-26 08:44] octavn opened #337 "gearadmin --priority-status does not return expected values"
We're using Gearman 1.1.19.1 with one queue/function and all 3 priorities. We want to build a Grafana dashboard with the queue structure stacked in terms of priorities. This would allow us to view how many HIGH jobs are waiting, estimate when NORMAL jobs will start, etc.. .

However,  in testing, we're unable to get the expected results from `gearadmin --priority-status`.

For example, we've pushe

[2022-05-26 19:11] esabol commented on #337
1. Are you sure the payloads for each of the 160 jobs you submitted are different? If the payloads are the same, gearmand might be combining them somehow into the same job when listed in the `prioritystatus` output. (It's a theory. I'm just guessing.)

2. Would you share your code or script for submitting the 160 "foo" jobs with different priorities? I know it's probably super-simple, but it might

[2022-05-30 08:44] remusnegrota commented on #337
Joining the discussion here:

1. The payloads were the same when first testing, but to check your theory I've also tested with distinct payloads and had the same result, the issue still persists.
2. Here is the code for the gearman client:
[code]

And the code for the gearman worker:
[code]

3. The build process failed when trying to build 1.1.15 from the repo, but managed to build 1.1.16 just fin

[2022-06-01 01:21] SpamapS commented on #337
Confirming here that prioritystatus does not seem to work. Taking a look now to see what's wrong.

[2022-06-01 03:27] SpamapS commented on #337
Thanks so much for the bug report @octavn . This has basically always been broken. It appeared to work because it would at least print 1 for "there are things in this priority" and 0 for "there are no things in this priority". We'll get that PR merged and then cut a release for a 1.1.20.

[2022-06-01 06:55] octavn commented on #337
Thank you for quickly fixing this issue.

[2022-06-01 22:23] esabol commented on #337
@SpamapS wrote:

I think the output @octavn posted above had a "2" in the low priority column?

[2022-06-02 03:36] SpamapS commented on #337
Ok so I looked deeper and found what that ->next attribute really is. I can't tell you all how much I really don't want to read C/C++ macros as much as we do here, and I hope one day I'll convince you all to move over to rustygear.

This line is where that field is maintained:

https://github.com/gearman/gearmand/blob/4b46bb21b2dd6bc6a42fcf191f363d6386a4172f/libgearman-server/job.cc#L238

That is

[2022-06-02 03:37] #337 closed

[2022-06-02 03:37] #317 closed

[2022-06-03 00:24] esabol commented on #335
Fix merged. Closing.

[2022-06-03 00:24] #335 closed

[2022-06-03 02:18] SpamapS commented on #319
Let's be really clear though: Jobs *are* assigned to workers in the order they are given to the server.

However, the *task* system in libgearman is an abstraction above jobs, and sends these "tasks" as jobs. It sends them all at one time, and it happens to send them LIFO.

This order isn't really defined in the docs. It only says that the task is added to the client structure, and ... well now ..

[2022-06-09 22:55] TechhDan opened #342 "gearmand multiple instances"
I've compiled gearman from the tarball using version gearmand-1.1.19.1. Whenever i try to start gearmand i get two instances with one being forked from the parent. Is this normal? I thought it was just suppose to be one deamon process.

![GearMan](https://user-images.githubusercontent.com/11691784/172958564-cec2329c-2489-4901-968e-8a05d4330f72.png)

[2022-06-10 00:45] esabol commented on #342
Well, that's not what your screenshot is showing. That `lsof` output is showing that it's listening to both your computer's IPv4 and IPv6 addresses, and it's showing the same PID for both. If a child had forked from the parent, you'd see different PIDs.

What's the output of `ps auxgww | grep gearmand | grep -v grep` show?

[2022-06-10 01:39] TechhDan commented on #342
Oh! totally missed the IP4 and IP6. Thanks for the tip. I had downloaded the apt version (v 1.1.18) and that one only showed one process so i thought something was wrong. Thanks!

![Gearman2](https://user-images.githubusercontent.com/11691784/172972721-43b993ea-b2e4-44de-bb23-459dea471552.png)

[2022-06-10 06:50] esabol commented on #342
No problem! If only all issues could be easy. 🙂 Closing.

[2022-06-10 06:50] #342 closed

[2022-06-10 06:51] esabol commented on #304
A PR addressing this issue has been merged, so closing.

[2022-06-10 06:51] #304 closed

[2022-07-05 18:28] steevhise opened #343 "Stuck Jobs"
We've been using Gearman for years and years, but lately, like over the last 6 months or so, we sometimes see jobs get "stuck". They will sit on a queue for hours or days if left alone, as soon as gearmand is restarted, or one of the workers for that queue, they job goes out right away... worker logs show no intital attempts to do the job, a theory that the worker died and the server still thinks

[2022-07-05 20:46] esabol commented on #343
Well, are you setting timeouts for any jobs? #301 only applies if you are using timeouts. If you are, then my advice is don't. If you don't, then you shouldn't encounter that problem with gearmand. Personally, I have my workers wrap commands which do heavy work and may potentially exceed certain time constraints with `/usr/bin/timeout` and then report an error condition to the client. See `man tim

[2022-07-06 02:47] esabol commented on #232
Could you submit a PR?

[2022-07-06 16:54] steevhise commented on #343
the latest.

no. it's been about 4 years since the latest came out. right? :) of course in that time there's been multiple major debian upgrades, etc etc. but no, no changes to gearmand.

Now THAT's a good question. Besides the debian upgrades mentioned above, starting a year or so ago, we started submitting jobs from a new application, and added 2 new queues/functions. It's unclear but it seems t

[2022-07-07 05:26] esabol commented on #343
Appreciate all the answers, but you didn't answer the most important question of whether you're setting timeouts on any of your jobs. Again, I recommend that you don't since that's a known (and still unresolved) issue.

Is there anything notable in your gearmand.log file when a job gets stuck?

gearmand uses the OS's libevent*.so libraries for important aspects of it operation, so any changes to l

[2022-07-07 20:50] steevhise commented on #343
I don't think we're using timeouts. They are not set by default, right?

You've given us several interesting things to think about, thank you.

A few other answers:
- we're only killing workers after they're idle.
- the sticking does not seem to be concurrent with any high load.
- we have a daemon with a parent process that spawns child workers, and kills them when they're idle and have finished a

[2022-07-08 02:40] esabol commented on #343
Correct.

I do the same thing, I think. I have my workers die after processing a certain number of jobs and then I spawn new workers to replace them.

[2022-07-08 19:12] steevhise commented on #343
So upon further digging into our code and adding more logging, I found that that part of the problem is that sometimes the worker child was dying quietly and never returning info to the gearman server, so the job never gets "released."  And it was dying because of some "garbage" characters in the data it gets from gearman. oddly tho, now that i've changed that code to catch the error and return pr

[2022-07-08 19:45] SpamapS commented on #343
Could you post a full packet dump? RES should always be preceded by a null:

4 byte magic code - This is either "\0REQ" for requests or "\0RES"
                    for responses

See http://gearman.org/protocol/

On Fri, Jul 8, 2022, 12:12 PM Steev Hise ***@***.***> wrote:

[2022-07-08 21:07] steevhise commented on #343
This is so intermittent that it's difficult to get a packet dump - is there a way to make Gearmand log raw packets it sends?

From our worker logs it looks a lot like sometimes there's a RES at the end of job data, and sometimes not... but actually maybe this is an issue with the perl Gearman::Worker module (our worker code uses that to connect to the server)... maybe it's not chopping off the mag

[2022-07-09 07:01] esabol commented on #343
That would be difficult for me to believe. Are you using [Gearman::Worker version 2.004.015](https://metacpan.org/dist/Gearman)? 2.004.013 (from 2018-02-05) fixed a bug with `Gearman::Util::read_res_packet` that could be related, if you're not.

That said, all of my workers are implemented using Gearman::Worker (2.004.015), and I've never seen that in many thousands of processed jobs over 4+ years

[2022-07-10 19:17] steevhise commented on #343
That is totally possible. But the real mystery is why would it only happen sometimes? If there's bad data, it seems like it would have the same problem each time it tries the job. but the second try always sails through no problem...

We'll check the Gearman::Worker version, tomorrow. thanks!

[2022-07-11 08:21] tomcoxcreative commented on #343
That's a good point about payloads. Not sure if it helps but as a Gearman fan and really happy it's being continued. @esabol is an absolute legend. So I will add my 50 cents. The way to avoid any issues on any payloads is to send the payload to file storage and reference it by a GUID. You have to remember what Gearman is for. It's not it's job of handling payloads... It's to pass reference to a pa

[2022-07-11 17:25] esabol commented on #343
That's very kind of you to say, @tomcoxcreative, but I'm standing on the shoulders of giants and @SpamapS is much, much taller than me. To be honest, multithreaded event loop programming isn't my forté. I'm really only good at fixing portability issues and analyzing bug reports. :smile:

@steevhise wrote:

Yeah, I don't know. It shouldn't, but I'm just trying to find differences in what you're doi

[2022-07-11 20:48] steevhise commented on #343
So far looking at the jobs that have been stuck, i haven't seen any unicode. One additional trickiness about our  use case is that these 2 new queues are supplied jobs by Nodejs clients, whereas previously everything was perl. we're using Abraxas as the node client library.  One other thing different is that these new queues' jobs contain a lot more data, so @tomcoxcreative 's point is well taken.

[2022-07-12 00:05] SpamapS commented on #343
On Mon, Jul 11, 2022 at 1:49 PM Steev Hise ***@***.***> wrote:

That the jobs come from newer/different clients could be a clue. Check to
make sure that client doesn't set timeouts silently, and also check what
REQ commands it is sending. Gearmand shouldn't allow a weird or newish
client to break older, stable workers but it's possible that something deep
in the protocol isn't mapping properly.

I

[2022-07-12 20:23] tomcoxcreative commented on #343
@steevhise if you are sending json in the messages then it will be very difficult to measure your payload size. Like @SpamapS mentions the memory use for large payloads will end up exceeding your use case and probably randomly as you are seeing. So in front of Gearman if you can send payload to file storage then read in it from your Gearman trigger you shouldn't see the random issues around the pa

[2022-07-12 22:45] tomcoxcreative commented on #315
If you are using Gearman in a container, well I just wouldn't...  I would never recommend as it is as important as the O/S in many cases to what you are doing and all containers rely on some other service to be active to be started on reboots. So you are asking for problems if you go that way with it.

But anyway you mention systemd. You can set the jobs up on systemd to repair on any timeouts and

[2022-07-12 23:26] tomcoxcreative commented on #315
As an example on systemd. I put in delayed start to the workers to make sure everything is available first:

[Unit]
Description=Gearman Worker Daemon
After=gearmand.service mariadb.service
Requires=gearmand.service mariadb.service

[Service]
User=whateveruser
Type=simple
PIDFile=/wherever/gpworker%i.pid

KillMode=process
Restart=on-failure

ExecStart=/your-worker gearman_worker

[Install]
WantedBy

[2022-07-13 08:03] esabol commented on #315
@tomcoxcreative wrote:

I couldn't disagree more. I've been using gearmand in a Docker container on a production system for 6 years or so, and I wouldn't use gearmand any other way. I think container technology is here to stay in modern IT infrastructure and operations. The advantages are too great, and I personally haven't encountered any downsides.

[2022-08-10 16:12] easterism commented on #68
I've got the same error for version 1.1.19
Debian GNU/Linux 10 (buster)
[code]
at the same time
[code]

[2022-08-10 20:12] esabol commented on #68
Hello! This issue probably should've been closed previously. I would call this a new issue since CentOS 7 and Debian 10 are very different, but, hey, we're here now. :smile:

Unfortunately, I don't have a Dockerfile for building gearmand on Debian, so I don't have a solution ready. I don't have a Debian system readily available, and I don't have any real experience using Debian (everything is RHEL

[2022-08-10 20:21] esabol commented on #68
Wait, are you actually compiling 1.1.19 and not 1.1.19.1? If so, you definitely want to download the 1.1.19.1 release source code. 1.1.19 wasn't packaged correctly for release and should be avoided.

The [Debian package description](http://deb.debian.org/debian/pool/main/g/gearmand/gearmand_1.1.19.1+ds-2.dsc) shows the following build dependencies:
[code]
Not sure if that's for Debian 10 or not, b

[2022-08-19 06:25] derde commented on #343
I got stuck jobs very simply:
* Multithreaded C client that just answers with a fixed template (having 4 workers on the same queue)
* Default 4 threads on the server ( gearmand -t 4 )
* Semi-simultaneous requests with bash and the gearman command line

My test function is called 'diameter':
`while true ; do gearman -f diameter <<< "mooa" & gearman -f diameter <<< "mooa" &gearman -f diameter <<< "m

[2022-08-19 14:33] esabol commented on #343
So we're good then? 😄

My guess as to why you would see this issue with 1.1.18 but not 1.1.19.1 is this commit: https://github.com/gearman/gearmand/commit/45bd95402d71c583c4737496cc0b48930d548c14

[2022-08-26 15:37] steevhise commented on #343
Well my case is using 1.1.19.1 so must be 2 different issues.

And, we're still seeing it and still haven't figured out why. Additional weirdness observed: sometimes a stuck job seems to make the whole server get wacked out and hold onto other queues' jobs too or just not hand them out as fast (different than the function where the first stuck job appeared).

Also while investigating this I notice

[2022-08-26 20:11] esabol commented on #343
"So we're good then?" was directed to @derde. Not dismissing your issue @steevhise !

I don't think you're wrong, but I do wonder if the problem you're seeing is a problem with the persistent storage layer and the whole interaction there. As you may know, the persistent storage support in gearmand has been quasi-deprecated in favor of a design pattern where job persistence is implemented by worker

[2022-08-28 01:09] stccorp opened #344 "Is there a way to make a gearman worker dont die if a server is not available?"
I would like to create a worker that if gearman server is not running, that the worker just try to reconnects in X amount of seconds.

The problem that I have is that if I have 10 workers listening and I restart the gearman server, all the workers die, instead of waiting for gearman server to comeback.

Thank you

[2022-08-29 15:44] esabol commented on #344
What language are your workers are implemented in? C?

What version of gearmand are you using?

Does this happen using the `gearman` command line tool to create a worker? For example: `gearman -w -f wordcount wc &`?

This hasn't been my experience, but my workers are all implemented in Perl using [this library](https://metacpan.org/pod/Gearman::Worker). They don't die when gearmand is restarted an

[2022-08-29 15:50] #282 closed

[2022-08-29 15:52] #198 closed

[2022-08-29 16:00] esabol commented on #199
Closing this issue as it's been almost 4 years. Feel free to reopen if you are still experiencing this issue.

[2022-08-29 16:00] #199 closed

[2022-08-29 18:27] stccorp commented on #344
Interesting, first time running gearman on the cli.  Your were correct.  if I run the worker and the kill gearman I get and infinate message
gearman: gearman_worker_work : flush(GEARMAN_COULD_NOT_CONNECT) Connection to localhost:4730 failed -> libgearman/connection.cc:724: pid(10320)

And when I start gearman, the process still there.  So it seems that the problem is the client library(maybe)

I a

[2022-08-29 22:11] esabol commented on #344
I'm surprised to hear that PHP workers die when gearmand is stopped/killed. It might be a problem with the PHP Gearman library? Are you using https://github.com/php/pecl-networking-gearman/ ? Did you compile and install it yourself?

We have PHP Gearman clients here, but no workers are implemented in PHP, so I have no idea if this is expected behavior or not.

[2022-08-29 22:17] stccorp commented on #344
I am using Ubuntu.  All I did to install gearman was
sudo apt install gearman

I checked the sources list and it has this line

deb http://ppa.launchpad.net/ondrej/pkg-gearman/ubuntu bionic main

[2022-08-29 23:01] esabol commented on #344
I did some googling, and I found some things that might help:

https://stackoverflow.com/questions/14749576/gearman-throws-gearman-could-not-connect-on-php-example
https://stackoverflow.com/questions/22758869/gearman-workers-disconnect-periodicaly

The answer in that second link has a more complicated `while` loop than in our example code. You might want to try some variation of that that outputs

[2022-08-30 02:18] stccorp commented on #344
Thank you for the help.  But nothing seems to work. What I am doing that other people do , is having a monitor so that when it dies, the monitor creates the workers again.

I will contact the gearman mailing list

Thank you

[2022-09-06 17:54] steevhise commented on #343
For us it's scaled pretty well to just have multiple gearman servers (other than this particular problem). and we have some database things to make sure the same job never gets given to more than one of those.  it seems against the basic idea of a queue server to offload storage of the jobs to the workers. i would think that the "authority" that hands out jobs should also be the arbiter of what ea

[2022-09-07 01:54] SpamapS commented on #343
Gearman isn't really a queue server, it just gets used that way because
background jobs do queue. The state backends were added in part because so
many people misused gearman and painted themselves into a corner with
background jobs.

However, there are very few guarantees in the protocol, as it was designed
for efficient job distribution and low latency, not guarantees typically
offered by pure m

[2022-09-11 12:32] rayzilt opened #345 "Gearmand crashes or unreachable"
We recently upgraded two Gearman Job Servers to Debian 11 and are since then experiencing problems.
As far as we debugged the situation we have identified two possible bugs.

Bug one:
The gearman-job-server crashes with a exit 1. The debug log shows us that it's always after `Comparing queue %u to limit %u for priority %u -> libgearman-server/job.cc:175`

[code]
Currently we are building a version

[2022-09-12 03:32] esabol commented on #345
Bug #1: Nope. But I think it's related to your usage of a persistent storage plugin. I've never seen that "Comparing queue %u to limit %u for priority %u" message in my usage, but I don't use any of the persistent storage plugins. Looking at the code, I'm guessing you're hitting the `GEARMAND_JOB_QUEUE_FULL` condition? Not sure.

We try to discourage usage of the persistent storage plugins these d

[2022-09-12 18:31] rayzilt commented on #345
Thank you for your suggestions.

We possibly identified two workers that seems to trigger both condition. We disabled them and since then gearmand is running stable. We still need to investigate these workers further.

I'm not sure if we hit `GEARMAND_JOB_QUEUE_FULL` condition, we had some debugging in place but have not yet fully debugged the situation as we think we found the trigger of both sit

[2022-09-13 02:27] esabol commented on #345
It's not outside the realm of possibility that that poorly implemented clients and workers can cause problems with the gearmand server. If that's the case, it's a flaw and any help in tracking down what the problem might be would be appreciated. :smile:

Were there any changes to these workers when you migrated to Debian 11? Or are these new workers?

Also, what OS are you migrating *from* (where

[2022-09-13 12:15] easterism opened #346 "'make test' failures with 1.1.19.1 on Debian 8"
Hi. I tried making from tar and master. For every 'make test' I've got

`
FAIL: t/worker
FAIL: t/client
`

gcc info:

`COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/8/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 8.3.0-6' --with-bugurl=file:///usr/share/doc/gcc-8/READM

[2022-09-13 13:56] esabol commented on #299
@BrianAker : The gearman.info website still isn't working. This wouldn't matter too much except `make test` checks for the existence of `exists.gearman.info` in `libtest/dns.cc`. We can change that test to check for `github.com` or `www.google.com` for future releases, but the test suites for all existing gearmand releases will fail. Any ideas?

[2022-09-13 14:34] esabol commented on #346
Hi. Thank you for reporting this problem. These test failures are checking your DNS. Unfortunately, they are checking DNS for the existence of the `exists.gearman.info` and `does_not_exist.gearman.info` hosts, and the `gearman.info` website apparently no longer exists. There's just a placeholder website there now.

Please edit `libtest/dns.cc` and change `exists.gearman.info` to `www.google.com` a

[2022-09-13 15:31] easterism commented on #68
@esabol I did it for master (1.1.19.1 for now) as well, same result.
Btw, on another Debian 8 it run quite well...

no special reason, but i stuck with strange issue (like #343). Conditions: Debian package 1.1.18+ds single server at the same host, 3 workers, very rare usage. Suddenly php client wont connect. I checking `gearadmin --status` (every second)
- first sec. OK, list of workers, no queue

[2022-09-13 15:41] easterism commented on #346
I did, but nothing changed

[code]

[2022-09-13 16:32] esabol commented on #346
Well, that doesn't make any sense. I don't know. I don't use Debian, so your assistance in finding a solution would be appreciated.

[2022-09-13 16:52] esabol commented on #68
Well, you didn't answer my question in my previous post:

[code]

Answering that question is step 1.

[2022-09-13 17:29] esabol commented on #346
Ah, I found more references to gearman.info in `tests/libgearman-1.0/client_test.cc` and `tests/libgearman-1.0/worker_test.cc`. You'll need to change `exist.gearman.info` to `www.google.com` and `nonexist.german.info` to `nonexist.google.com` in both of those files as well. I tested it myself this time, although not on Debian, and it worked.

[2022-09-14 06:44] easterism commented on #68
Right, it doesn't!

`apt install autoconf  automake  chrpath  debhelper-compat` help me run .configure correctly

`apt install python3-sphinx` help to `make`.

I supose it should be added to the Debian package.

@esabol thank you again!

[2022-09-15 07:08] easterism opened #347 "Packet that is being freed has not been allocated, most likely this is due to freeing a gearman_task_st or other object twice"
I've got error and looks it related to https://github.com/gearman/gearmand/issues/68#issuecomment-1245583214

[code]

Could you explain please, what happened

[2022-09-15 08:04] easterism commented on #346
Confirmed! I did it on LMDE5

btw, assumed to change bootstrap.sh for vendor check

[code]

[2022-09-15 08:04] #346 closed

[2022-09-16 03:36] esabol commented on #347
Does this happen all the time or just occasionally?

The packet was freed twice, as the assertion says, "most likely this is do to freeing a gearman_task_st or other object twice." I want to say that this problem is due to a bug in the PHP extension, but I don't know for certain. Are you using the latest version from https://github.com/php/pecl-networking-gearman ?

If you recompile libgearman.so

[2022-09-16 10:48] easterism commented on #347
just occasionally, i catch this after i checked `gearadmin --status` and it stuck (like this https://github.com/gearman/gearmand/issues/68#issuecomment-1245583214)

I use php-gearman [Debian package](https://packages.debian.org/stable/php/php-gearman). Looks like its lastest version of pecl-networking-gearman

[2022-11-13 17:49] esabol opened #351 "`bootstrap.sh -a` fails on Ubuntu 22.04"
`bootstrap.sh -a` fails on Ubuntu 22.04 with the following messages:
[code]
Or at least that's what's happening in the CI workflow.
@SpamapS : Can you confirm you are seeing this in your 22.04 testing as well?

Any thoughts on how to fix this without breaking all the other supported platforms?

[2022-11-13 17:52] SpamapS commented on #351
I see it yes, I have a branch that fixes.

On Sun, Nov 13, 2022 at 9:49 AM Ed Sabol ***@***.***> wrote:

[2022-11-13 17:54] esabol commented on #347
A PHP extension developer posted their analysis and suggested a potential fix to the PHP extension code here:

https://github.com/php/pecl-networking-gearman/issues/12#issuecomment-1280379848

They agreed that the problem is likely in the PHP extension, so I'm closing this issue.

[2022-11-13 17:54] #347 closed

[2022-11-13 18:02] SpamapS commented on #347
Nice work @esabol !

[2022-11-13 19:48] esabol opened #354 "Additional refinements to GitHub Actions CI workflow"
Now that PR #334 has been merged, I'd like to see the following enhancements to the GitHub Actions CI workflow:

1. Add builds for different versions of clang.
2. Add at least one build on macOS.
3. Maybe add at least build on Debian?
4. Rename the `.github/workflow/c-cpp.yml` file to the far more common name `ci.yml`.

[2022-11-13 20:41] SpamapS opened #355 "Tarballs created from master can't find libboost/config/workaround.hpp"
With latest master, if I create a tarball with "make dist" it produces a build that fails because the include dir for Boost isn't set in a way that finds workaround.hpp. AFAIK, that is a clang-thing anyway for Mac OS X. As such, I believe it needs to be surrounded by a guard.

We also should add a build-from-make-dist action so I'm not the only one who can see those, and maybe even at some point u

[2022-11-14 02:55] esabol commented on #355
@SpamapS : Could you attach one such tarball here and/or supply instructions on how to reproduce it from a clean `git clone`?

[2022-11-14 03:08] esabol commented on #355
Also, what OS are you generating the tarball on?

[2022-11-15 06:18] SpamapS commented on #355
I've tried generating on Ubuntu 18.04, 20.04, and 22.04. Trying to build on all 3 as well. Building from git works fine so it's something that goes into the tarball.

[2022-11-15 06:27] SpamapS commented on #355
[gearmand-1.1.19.1-76-gfaede598.tar.gz](https://github.com/gearman/gearmand/files/10009859/gearmand-1.1.19.1-76-gfaede598.tar.gz)

This was generated with:

```docker run --rm -v $PWD:/usr/local/src -ti gearmand-testing/ubuntu:20.04 /bin/bash -c "cd /usr/local/src && CC=gcc-9 CXX=g++-9 ./configure --enable-ssl && make -j && make dist"```

[2022-11-15 18:07] esabol commented on #355
I recommend trying on Ubuntu 16.04. Or I will, if I have time.

It's probably the same issue we saw with the 1.1.19 release. I imagine it's the files in the `m4` directory. The bootstrap process alters them, I think. Making a backup of the `m4` directory before and then copying some or all of the files in the `m4` directory back may ameliorate the problem? But that's not a good long-term solution.

[2022-11-15 22:18] SpamapS commented on #355
Found it. I failed to notice that `libboost/config/workaround.hpp` was a file in our repo, but it isn't included in the tarball. Working on a fix.

[2022-11-15 22:37] SpamapS opened #357 "Tarballs are untested in CI"
As important as building from git is, the gold standard for portability and release artifacts is still tarballs, I think.  Maybe I'm wrong? Anyway, if we are going to keep releasing via tarball and not just git tag, we should build a tarball in CI.

It would be helpful if users could let us know if they use the tarballs in any way.

[2022-11-16 20:02] esabol commented on #357
Yeah, makes sense. I'm pretty sure most people build from the release tarball if they are compiling gearmand at all. These days, most folks `apt-get install` (or equivalent) whatever package is provided for their system, I presume, but those packages track our release tarballs, not the git repository.

Adapting the GitHub Actions CI workflow to generate a tarball and then build and test that tarba

[2022-11-19 18:29] #351 closed

[2022-11-19 18:29] #355 closed

[2022-11-19 19:47] SpamapS commented on #343
I missed this the first time. Yes you are mistaken.

The point of the persistent store is to hold on to the job until it has been *completed* in case there is a loss of state in the gearmand itself. When background jobs are assigned to workers, they are marked as such only in memory on the gearmand server. They are only removed from the persistent queue when they are done, which is only when a WOR

[2022-11-19 20:17] esabol commented on #354
The 1.1.20 release notes reminded me of a change to the Travis CI that didn't get implemented in the GitHub Actions CI:

`CXXFLAGS="-Wp,-D_GLIBCXX_ASSERTIONS"` should be added to gcc 9 (and higher??) builds.